[2017-04-06 09:58] pederpansen opened #2 "MongoDBConnector not assigned any tasks"
Hi,

I have the following problem: I have 4 different topics, each connected to the same MongoDB instance via a separate MongoDBConnector. 2 out of the 4 connectors are running fine and have one task each assigned. The other 2 connectors don't have any task assigned (visible via the REST API, `GET /connectors/{my_connector}/status`).

- Restarting the connector via `POST /connectors/{my_connector}

[2017-04-06 16:11] hpgrahsl commented on #2
hi!

first of all thx for using the connector and reporting your problem. it's actually really hard to tell without having information from the logs so I try my luck and make an educated guess :)

it might be the case that you are using 4 different instances all having the same **name property** set in their config. if you want them to work separately on topics try to specify different names and l

[2017-04-08 10:10] hpgrahsl commented on #2
@pederpansen did you make any progress based on my comment above? in case you succeeded to get it running I would suggest to close the issue...

[2017-04-08 11:40] pederpansen commented on #2
Sorry for not coming back to you earlier.

All of my four connectors had different names and consumed different topics, so I don't think that was the issue.

When grepping the logs, I saw messages related to my unsuccessful attempts of restarting and deleting/re-creating the connectors, but no related errors or exceptions why the corresponding task did not start.

However, since at the moment the

[2017-04-08 11:41] #2 closed

[2017-04-25 14:42] marcusadair opened #3 "License"
Thanks for the work on this nice little driver.

Would you mind to clarify the license you're releasing under? Sorry if it's already mentioned and I missed it.

[2017-04-25 16:18] hpgrahsl commented on #3
Hi! First of all thx for your interest in this project.No you didn't miss it ;) I forgot to put specific license information into the sources and readme. Will be able to hopefully do that by tomorrow...Which one is going to be related to other connectors and Kafka itself. I'll let you know.RegardsOn 25 Apr 2017 4:42 p.m., marcusadair <notifications@github.com> wrote:Thanks for the work on this nic

[2017-04-25 21:55] hpgrahsl commented on #3
Done! all sources now include the license information header... Apache V2 it is :)
https://www.apache.org/licenses/LICENSE-2.0

[2017-04-25 21:55] #3 closed

[2017-04-27 13:46] marcusadair commented on #3
Thanks!

[2017-05-05 14:32] soumabrata-chakraborty opened #5 "README section for Logical Types Conversion"
Hi,

While working with logical types, I noticed that Confluent have changed their AvroConverter to rely on the property "logicalType" instead of "connect.name".
This is with reference to this commit https://github.com/confluentinc/schema-registry/commit/da4d548e0e0b76e4da24835755aecf7fb37b9fa7

So, for example, for Date logical type,  I can now mention "logicalType":"date" in the relevant schema

[2017-05-05 15:32] hpgrahsl commented on #5
That's a great question.

When I implemented logical types support I first tried to go the standard AVRO way of defining the schema of course. However, it always resulted in errors at least for the then current kafka versions (0.10.0+0.10.1). Was pretty hard to find out how to define the schema to get it working thus I decided to explicitly point this out in the README to save others some headache

[2017-05-05 15:41] soumabrata-chakraborty commented on #5
I did manage to get it working.  I was using the Kafka Connect docker image confluentinc/cp-kafka-connect:3.2.0

I have only verified the byte array to connect record conversion by using logicalType property for date.
I have not yet verified other logical types and not yet verified connect record to byte array conversion

[2017-05-05 21:04] hpgrahsl commented on #5
Ok I see. It seems to me that this most likely became possible with version 0.10.2 because it didn't work in the past for me. Haven't tried it after upgrading dependencies to be honest.

Can you confirm that at the moment both ways are working for you? Or is it now only possible with the logical type name instead of the class name?

[2017-05-06 14:24] soumabrata-chakraborty commented on #5
My observation is that it is only possible if you have "logicalType" set in the field schema.  Setting the logicalType is now mandatory  for the AvroConverter to work properly.

Setting the "connect.name" property is now optional.
If you choose to set it -- then there is an additional check that the AvroConverter does to verify that the Schema.name() derived from the logicalType matches with the f

[2017-05-06 16:48] hpgrahsl commented on #5
I was just investigating matters with confluent platform 3.2.0 and think that we are maybe talking about different things here. My local demo scenario is as follows:

1) I use a simple Java producer app with Avro Serialization.
2) the custom value class I use results from avro code generation which is based on an .avsc file containing amongst simple types also logical types like the following:

`.

[2017-05-06 17:05] soumabrata-chakraborty commented on #5
Ok.  So converting your example to the logicalType would look like:

... {"name": "date","type": { "type": "int", "logicalType": "date" } } ...

Is that how you tried it?

[2017-05-06 17:55] hpgrahsl commented on #5
No I didn't. Have tried it as you suggested and at least code generation works with that. However, interestingly enough, the resulting Java class definition changed and thus broke my producer app code :)

Instead of the date field resulting in Java type int/Integer it becomes a Joda LocalDate with your definition... very strange to me. Not so for the other three logical types (decimal, time, times

[2017-05-07 04:07] soumabrata-chakraborty commented on #5
That was not my expectation.  I had used a different way of serializing to Avro than you have mentioned and the avro GenericRecord I had did indeed carry an int and not a Joda LocalDate. Can you check-in/send across your producer app and I can have a look.

Here is how I was doing it:
(1) I created an Avro schema where the date field looked like ... {"name": "myDate","type": { "type": "int", "logi

[2017-05-07 04:25] soumabrata-chakraborty commented on #5
I just had a look at the Avro Repository and I think what you observed might be the intended behavior in Avro.

It seems for a date logicalType -- if you are working with a GenericRecord then you just populate the field as an int as I had mentioned in my earlier comment.
i.e.  genericRecord.put("myDate", someIntValue) ;  //Here some int value is an int/Integer

However, when you work with Custom v

[2017-05-07 06:11] soumabrata-chakraborty commented on #5
I used avro-tools-1.8.0 to generate a class for me from an avsc file.
I saw the following logical types to java type conversion where the java type was from Joda Time:
date -> org.joda.time.LocalDate
time-millis -> org.joda.time.LocalTime
timestamp-millis -> org.joda.time.DateTime

While converting to byte arrays, Avro has converters that encode date and time-millis int and timestamp-millis as lon

[2017-05-07 08:13] hpgrahsl commented on #5
Thx for checking this stuff. I'll adapt the readme to reflect the main aspects of this discussion.

I can confirm the type mapping by getting the following code generation result with avro-tools-1.8.1

`
    {
      "name": "date",
      "type": {
        "type": "int",
        "logicalType": "date"
      }
    },
    {
      "name": "timemillis",
      "type": {
        "type": "int",
        "lo

[2017-05-07 08:41] #5 closed

[2017-05-11 02:38] soumabrata-chakraborty commented on #5
Thanks @hpgrahsl

[2017-10-02 07:10] azizimansyah opened #8 "Update and Delete Operation for CDC Handler"
Hi,

I've noticed that Debezium MongoDB has updated to version 0.6.0, and they have differentiated the _id field type in the key's payload, is it now possible for you to implement the "update" and "delete" operation for Debezium MongoDB CDC handler?

Thanks.

[2017-10-02 15:39] hpgrahsl commented on #8
Thx for your comment. In fact, I did this small but IMHO vital contribution for debezium 0.6 in order to be able to support all mongodb CDC events at the sink side :) so yes, as of now it is of course possible to integrate this into the sink connector code base. It's definitely on my todo list but I just didn't find the time yet to get it done. Maybe you can help with the implementation and contri

[2017-10-04 19:04] hpgrahsl commented on #8
@azizimansyah FYI the implementation of update/delete CDC ops is almost finished. Afterwards, I'll have to write some tests as well. Will let you know when it's been merged into master...

[2017-10-05 08:53] azizimansyah commented on #8
Thanks for the fast response :)
I plan to use it for real-time mongodb replication from one cluster to another cluster. I think it is possible to implement it by using debezium as the source connector and your kafka connect mongodb as the sink connector. I'm looking forward to it!

[2017-10-05 15:49] hpgrahsl commented on #8
Hi,While you're right that this is one possible scenario you have to be aware that what you would replicate are all CRUD based change events 'only' happening in a db collection. This is not the same as a fully fledged MongoDb replication.If this is fine for you go ahead and give it a try. Feedback always welcome.On 5 Oct 2017 10:53, azizimansyah <notifications@github.com> wrote:Thanks for the fast

[2017-10-06 16:59] hpgrahsl commented on #8
@azizimansyah Done see this PR https://github.com/hpgrahsl/kafka-connect-mongodb/pull/9
Let me know how it works out for you...

[2017-10-06 16:59] #8 closed

[2017-10-10 09:48] azizimansyah commented on #8
Thanks a lot, it works well for me. Awesome!

I have some questions to ask:
1. Does the connector support consuming multiple topic from kafka and produce to multiple collection to mongodb? so that instead of creating multiple connector for multiple topic, I could use only one connector for multiple topic.
2. What is the difference between `kafka-connect-mongodb-1.0-SNAPSHOT.jar` and `kafka-connect

[2017-10-10 18:14] hpgrahsl commented on #8
@azizimansyah I'm glad to hear that it's useful for you and works well so far :)

w.r.t. your questions:

ad 1)

at the moment it is supporting only 1 topic per running connector. this restriction is to some degree by design. when you think about the normal scenario, you would consume from different topics which most of the time contain data exhibiting a totally different record structure. this wo

[2017-12-06 22:18] kalbmj opened #11 "Issue with CDC Sink Connector from Debezium MongoDB Connector"
Using the example for Change Data Capture Mode from the README, we are seeing an issue that throws an unrecoverable exception right after the connector config is posted.
Connector def posted below:
![image](https://user-images.githubusercontent.com/10438017/33688434-f8872cd0-daa0-11e7-933a-7ecb15c9dc7d.png)

And error thrown posted below:
![image](https://user-images.githubusercontent.com/10438017

[2017-12-07 07:45] hpgrahsl commented on #11
@kalbmj thx for reaching out. I'm happy to see that you try to make use of the mongodb cdc handler.
what you report is an unfortunate regression bug which most likely happened due to one of my recent refactorings. luckily it will be easy to get rid of the error :) I'll provide a fix as well as a test case which reproduces and addresses this issue as soon as I find some time, most probably later to

[2017-12-07 14:56] kalbmj commented on #11
Thank you for looking into this. Another related question, do you have (or have you seen) any use case examples for CDC from MongoDB to MySQL?

[2017-12-07 15:58] kalbmj commented on #11
MongoDBHandler is extending DebeziumCDCHandler but they are both maintaining their own operations map.    DebeziumCDCHandler never sets it operations map with values, but that is where the getCdcOperation is at
So we added
    public DebeziumCdcHandler(MongoDbSinkConnectorConfig config) {
        super(config);
        logger.info("DebeziumCdcHandler contructor config {}",config.toString());

[2017-12-07 17:49] hpgrahsl commented on #11
while this indeed works it's not good way to leave it like this :) I'm currently working on a fix together with an additional test. as soon as it it merged I'll let you know and you might want to use the new version instead.

[2017-12-07 18:42] hpgrahsl commented on #11
@kalbmj fixed -> see https://github.com/hpgrahsl/kafka-connect-mongodb/pull/12
have fun!

[2017-12-11 17:09] #11 closed

[2018-01-21 14:01] hpgrahsl opened #14 "allow projection of fields for documents within arrays"
while the current field projection mechanisms allow to project fields anywhere within nested documents it's not possible to project on fields found within documents which are themselves contained in arrays.

should work like the following based on this structure:

`{
    "array": [
        {"k":123,"v":"abc"},
        {"k":234,"v":"cde"},
        {"k":345,"v":"def"}
    ]
}`

- **blacklisting** on

[2018-01-21 14:11] hpgrahsl opened #15 "simple config option to delete records if value is null"
as described in the [README.md](https://github.com/hpgrahsl/kafka-connect-mongodb#change-data-capture-mode) the sink connector can be operated in CDC mode. sometimes the handling of records produced by a fully fledged CDC source connector (like debezium) isn't needed.

instead the sink connector should just offer a simple configuration option which allows to delete sink records. a reasonable and s

[2018-01-25 05:41] ngwwm opened #16 "Parse Json data in PostProcessor"
Dear Sir,
Thanks for the great product. We tried and be able to sink data to Mongodb successfully. Below is the data in Mongodb.
{
        "_id" : ObjectId("5a692f9742dc219e1e9ffcf5"),
        "gateway_id" : "XX:XX:XX:XX:XX:XX",
        "gateway_ip" : "10.0.0.1",
        "device_id" : "YY:YY:YY:YY:YY:YY",
        "device_type" : "bp",
        "jdata" : "{\"patientid\":\"1234\",\"systolic\":87,\"di

[2018-01-25 05:45] ngwwm commented on #16
Sorry, jdata should be like this.
 "jdata" : "{\\"patientid\\":\\"1234\\",\\"systolic\\":150,\\"diastolic\\":52,\\"pulserate\\":96}",

[2018-01-25 07:04] hpgrahsl commented on #16
Hi,Thanks for reaching out. It's good to hear that you enjoy working with my sink connector. The PostProcessor you would need should be pretty straight forward. All you need to do is take the value of the field (jdata) from the value doc, parse the contained string to a BsonDocument and replace the old String value with the result. If you need any help let me know :)Am 25.01.2018 6:41 Vorm. schrie

[2018-01-25 10:30] ngwwm commented on #16
Yes, I would need some help. I am not good in Java.

    @Override
    public void process(SinkDocument doc, SinkRecord orig) {
        doc.getValueDoc().ifPresent(vd -> {
    			String jdata = vd.getString("jdata").getValue();
    			BsonDocument jdataDoc = vd.parse(jdata);
                        **--I am stuck here. don't know how to replace the old string.**
         	}
        );
        getN

[2018-01-25 16:00] andreypp opened #17 "SerializationException"
Hi,

I am following [this blog](https://medium.com/@stephane.maarek/how-to-use-apache-kafka-to-transform-a-batch-pipeline-into-a-real-time-one-831b48a6ad85) post on medium and I'd like to persist data on MongoDB instead of Postgres.

When the connector try to read topics data, an error occurs linke bellow:

`    {
      "state": "FAILED",
      "trace": "org.apache.kafka.connect.errors.DataExcepti

[2018-01-25 16:10] hpgrahsl commented on #17
Hi @andreypp

Well it's hard to tell without knowing about additional details (e.g. the avro schema of the messages etc., the configuration of the involved connector(s) etc.)

Furthermore, as far as I can see from the stacktrace you posted, the exception happens when connect is trying to convert from AVRO to the connect internal format. So if I'm not mistaken, the error seems to happen before my s

[2018-01-25 16:40] andreypp commented on #17
Thanks @hpgrahsl
I just ran the JDBC Connector and it is OK.
Any tip on how to investigate this issue? (I mean, the conversion from AVRO to connect internal format)

[2018-01-25 16:49] hpgrahsl commented on #17
I think the issue in your case might be that most likely the key of your record is just not serialized with AVRO but e.g. plain string or json or something else. then this magic byte error occurs.

the avro-console-consumer might miss this because it it per default configured to only read the value part of records and would thus miss the key serialization issue.

[2018-01-25 18:33] hpgrahsl commented on #16
@ngwwm ok. so you would need something like the following along the lines:

`@Override
public void process(SinkDocument doc, SinkRecord orig) {
    doc.getValueDoc().ifPresent(vd -> {
                        //you should either check if jdata exists and/or provide a default value e.g. empty doc '{}'
			String jdata = vd.getString("jdata").getValue();
			BsonDocument jdataDoc = BsonDocument.parse(j

[2018-01-26 06:43] ngwwm commented on #16
Thanks a lot! With your kindly help, I achieved what I want.
Sure, you can close the issue.

[2018-01-26 07:48] hpgrahsl commented on #16
You're welcome!

[2018-01-26 07:48] #16 closed

[2018-01-26 15:46] hpgrahsl commented on #17
@andreypp have you found a solution yet? If you need any further help please let me know. Otherwise I would close this issue if that's ok for you

[2018-01-28 10:10] hpgrahsl commented on #15
addressed with PR https://github.com/hpgrahsl/kafka-connect-mongodb/pull/18

[2018-01-28 10:10] hpgrahsl commented on #14
addressed with PR https://github.com/hpgrahsl/kafka-connect-mongodb/pull/18

[2018-01-28 10:36] #15 closed

[2018-01-28 10:36] #14 closed

[2018-01-29 01:29] andreypp commented on #17
@hpgrahsl Thanks for your attention. You can close the issue, cause I am not working on it anymore. But I hope to come back soon!

[2018-01-29 19:50] hpgrahsl commented on #17
@andreypp ok thx. time will tell. let me know if you need anything.

[2018-01-29 19:50] #17 closed

[2018-02-23 13:35] qudoWru opened #19 "Is a connection with a MongoDB replica set possible?"
Hi
I'm currently looking for a way to catch data from my kafka topics into my MongoDB replica set.

I've seen, you have defined the property "mongodb.connection.uri".
Is it possible to provide here an uri string for an MongoDB replica set, like this:

`mongodb://[USER]:[PASSWORD]@host_1:27017,host_2:27017,host_3:27017/dbmane?replicaSet=replica-set-name`

[2018-02-23 13:56] pederpansen opened #20 "BSON dependency missing in pom.xml"
Hi HP,

I think your current master is missing the following dependency in `pom.xml`:

[code]

Best,
Jurgis

[2018-02-23 15:22] hpgrahsl commented on #19
hi @qudoWru

thx for reaching out. what you find in the official docs about the connection uri format should work. so yes, it should definitely be possible to connect to a replica set or even a shard as well.

please give it a try in your environment and let me know.

[2018-02-23 15:33] hpgrahsl commented on #20
hi @pederpansen

actually I'd be surprised if that would be the case. tried to reproduce a missing dependency issue with the bson artifact you are referring to but couldn't.

local maven build works
local IDE build works
travis CI build works

also when I manually look into the assembly jar after the successful build the BSON classes in question are contained. the bson.jar should be included as a

[2018-02-24 11:25] pederpansen commented on #20
Indeed, I was not able to reproduce the build error on my private computer. I imagine my maven cache or my company's artifactory could have interfered.

[2018-02-24 11:25] #20 closed

[2018-02-24 20:54] hpgrahsl commented on #20
Thx for you clarifying answer and closing the issue!

[2018-02-26 09:02] pederpansen commented on #20
Pingback: I was not able to reproduce the issue. The .m2 cache moves in mysterious ways ;)

[2018-02-26 19:26] hpgrahsl commented on #19
@qudoWru do you already have feedback if connection to you replica set works as expected?
if so it would be nice of you to let me know and also close the issue. thx.

[2018-02-28 08:47] qudoWru commented on #19
Hi @hpgrahsl hpgrahsl,

I'll test it today and post the results here.

[2018-03-01 08:55] qudoWru commented on #19
Hi @hpgrahsl,

I'll test it today and post the results here.

[2018-03-01 08:55] #19 closed

[2018-03-01 09:21] qudoWru commented on #19
Hi @hpgrahsl,

we used former an older version of connector and had some problems with connecting to replica set.
After upgrade to the latest version it is working now.

Thanks!

[2018-03-01 19:17] hpgrahsl commented on #19
It's good to hear that it works as expected :) THX for closing the issue!

[2018-03-18 19:39] hpgrahsl opened #23 "support for DBZ postgres CDC"
currently the connector is able to process DBZ mysql events. initial support for postgres is based on the observation that DBZ basically produces similar CDC events for mysql and postgres. thus both can for now be supported based on the same code written for mysql. refactorings would be great to avoid redundancy. until differences are found this should be the way to go for now.

[2018-03-18 20:28] hpgrahsl commented on #23
implemented see PR #24

[2018-03-18 20:28] #23 closed

[2018-04-02 08:11] hpgrahsl opened #26 "allow configuration / customization for write model filters"
the current behavior used for the ReplaceOneModel upsert sematic is fine for typical use cases but a bit too rigid for others. thus, there should be a customization option in order for users to employ individual write model strategies.

[2018-04-02 17:47] adamarla opened #28 "End2End Test failing because kafka-connect cannot see MongoDbSinkConnector plugin"
When attempting to execute the end2end test `MinimumViableIT`, `MongoDbSinkConnector` is not listed as an available connector in the list. Part of error HTTP response body is:

goes on to list all of the other connectors (FileStreamSinkConnector, FileStreamSourceConnector.. etc.) that are available.

Development machine is a Mac running OS X High Sierra with Docker Version 18.03.0-ce-mac60.

Added

[2018-04-02 17:56] adamarla commented on #28
Sorry, oversight on my part. The gradle build was dropping the jar files in a different libs/target directory and kafka-connector could not see them. I need to finalize gradle build script so that it can work seamlessly with the maven config and send it in so it can become part of the repo.

[2018-04-02 17:56] #28 closed

[2018-04-02 18:33] hpgrahsl commented on #28
No problem. Thx for diving into this matter and working on a gradle build. I'm sure a bunch of people will appreciate that over my somewhat conservative maven approach ;-)

[2018-04-04 20:45] hpgrahsl commented on #26
resolved see PR #27

[2018-04-04 20:45] #26 closed

[2018-04-06 20:58] adamarla opened #29 "ReplaceOneBusinessKeyFilterStrategy (Avro-Schema) - compound keys do not seem to be working correctly"
I created a schema that looks something like this
[code]
the first two fields `source_system_id` and `source_record_id` together form a BusinessKey. My mongo sink config looks like this
[code]
However if I send two successive messages where I keep the same `source_system_id` and change the `source_record_id`, instead of creating a new record it updates the existing record. For e.g.
Message 1 - `{s

[2018-04-07 06:33] hpgrahsl commented on #29
Thx @adamarla for reporting this. I'll look into it to see what could be wrong.

[2018-04-07 08:50] hpgrahsl commented on #29
@adamarla I just tried your example and found what is wrong. A minor issue which should definitely be addressed with a fix but nothing to really worry about :) The problem you are facing is related to whitespaces for the field projection settings. There is a space before the second field in the key list which is not trimmed. In fact all K/V projections are affected by this so in the meantime pleas

[2018-04-07 08:55] hpgrahsl opened #30 "any list config settings aren't cleaned from whitespaces"
currently list config settings are only splitting by the "," character but the resulting strings aren't trimmed from whitespaces. this should be addressed so that users aren't facing weird / unexpected behavior because e.g. spaces my end up being part of fieldnames (see this related issues #29)

[2018-04-09 04:29] adamarla commented on #29
Looks good. The behavior looks in accordance with the explanation.

[2018-04-09 04:29] #29 closed

[2018-04-10 09:00] CGaul opened #31 "drop SinkDocument in PostProcessor"
Hey there,
first thank you for this kafka mongodb connector, the code looks well understandable.

I have a question about the PostProcessor interface. I want to implement a PostProcessor, that drops the SinkDocument, when the process(..) internals are failing. What's the best way to implement this? In the MongoDBSinkTask I see that the valueDoc is only added to the docsToWrite List, if there is a

[2018-04-11 13:02] CGaul commented on #31
Hi @hpgrahsl,

thanks for the fast reply!
The process that I'm solving in a PostProcessor is the transformation of a String field to a BsonDateTime. In order to archieve that, I'm parsing the field (which needs to be properly formatted ISO-8601 String) and overwrite this field in the valueDoc, like shown in the following snippet:
[code]

My issue here is now: If I don't catch the DateTimeParseExce

[2018-04-11 21:06] hpgrahsl commented on #31
Thx @CGaul for the clarification of what you want to achieve. Let me briefly reflect on this and share some of my immediate thoughts:

Like you already said it's a bit adventurous to do it like that. At the same time I have to admit there are'nt particularly much better ways to achieve what you want to have. The design of the current PostProcessor capability hasn't been done with such use cases in

[2018-04-17 09:10] AnthonyKoueik opened #32 "Example for Java"
Hello

i have kafka and mongoDb installed and running,
can you help me with a small java class example to run to send messages from MyTopic to Mongo?
( I do not have Confluent , simply kafka)

thank you

[2018-04-17 09:46] AnthonyKoueik opened #33 "BUILD FAILURE"
[code]

[code]

[2018-04-17 19:04] adamarla opened #35 "gradle build script"
parallel gradle build script for corresponding maven
[see pull request](https://github.com/hpgrahsl/kafka-connect-mongodb/pull/34)

[2018-04-17 19:11] hpgrahsl commented on #33
Hi @AnthonyKoueik

Thanks for taking the time to report an issue your are facing. Unfortunately, based on the provided information it's a bit hard to understand what you are doing with your local setup / build. It's not even clear to me what (version) you are trying to build.

The build itself succeeds for me e.g. for the latest commit on master. You can also verify this on the public travis CI bu

[2018-04-17 19:11] #33 closed

[2018-04-17 19:37] hpgrahsl commented on #32
Great to hear to you are trying to run the mongodb sink connector! I'm not sure if I correctly understand your question but if you have kafka & mongodb installed and running then you only need to write some data to your topic either by producing records as JSON or AVRO.

**In order to let Kafka Connect do it's job and write messages from a kafka topic to a mongodb collection you do NOT need any co

[2018-04-17 19:37] #32 closed

[2018-04-18 06:03] hpgrahsl commented on #35
THX! Merged see #34

[2018-04-18 06:03] #35 closed

[2018-04-18 15:05] AnthonyKoueik commented on #32
hello

Sorry for my unclear question, i wanted to make test cases from the Java code.
I have read the  https://kafka.apache.org/documentation/#connect and now i have better understanding.

thank you for you time

[2018-04-18 15:08] AnthonyKoueik commented on #33
I have downloaded the source code from here :
**https://github.com/hpgrahsl/kafka-connect-mongodb.git**

then i ran this command :` mvn clean package`

[2018-04-18 16:54] hpgrahsl commented on #32
No worries. Glad to hear that the docs helped :)

[2018-04-18 17:04] hpgrahsl commented on #33
Ok I see. So for me & the travis ci build everything is fine. Seems to be a local issue on your side with missing or broken dependencies concerning jackson libraries. You could e.g. try to force update all dependencies or be even more aggressive and wipe out your maven cache.

[2018-04-19 07:49] CGaul commented on #31
Hey Hans-Peter,

sorry for the late reply, this week was rather busy.
I think the principal idea of maintaining a 1:1 relation in a Kafka-Connector makes sense, so that Kafka-Connect itself can be seen as a lightweight framework for record passing only.
Just my two cents to add here: The chain of responsibility pattern also defines the notion of a "dispatcher". This could be used to maintain the 1

[2018-04-19 07:49] #31 closed

[2018-05-03 21:58] invadergir opened #36 "JsonParseException with a string key"
Hi,

I am trying to sink to mongodb from a kafka topic that has a string key (simple text) and raw JSON as the message, and I get an exception when I post my connector config to kafka-connect.  (I have data in the topic already so the connector processing starts as soon as I post to kafka-connect.)  Any advice would be appreciated.  Note that I'm not running with confluent platform, just straight

[2018-05-04 02:31] adamarla commented on #36
I suspect it might be that as you said the `keys` for your kafka messages are a string "SZ0" whereas as per the configuration `"key.converter": "org.apache.kafka.connect.json.JsonConverter"` a json payload is expected. If your key values are all the same, why don't you try leaving the key out altogether. It is not mandatory to pass a key.

[2018-05-04 15:42] hpgrahsl commented on #36
hi @invadergir and thanks for getting in touch!

it would help if you can provide a concrete example for your key and value structure that is present in the topic in question. I can then try to take a look at it and get back to you how to proceed.

as @adamarla already mentioned if your key isn't JSON encoded but only raw strings it simply won't work when using the JsonConverter as key.converter i

[2018-05-04 19:10] invadergir commented on #36
Hi, and thanks for responding.  I realized I posted the wrong config, so I retested with my configs and updated the results in the original post above.  All the configs above are exactly what I ran.  I made sure all the key converters were set to StringConverter, even the internal.key.converter; although I tested with and without the internal one set to StringConverter and it made no difference.

[2018-05-04 20:12] invadergir commented on #36
And regarding the keys being the same, eventually the kafka keys will all be different but for now I'm testing with one particular key.  I'd like to eventually store the _id fields in mongo as the kafka key plus "time" field, but for now I'd be happy to get the OID version working.

[2018-05-18 10:47] hpgrahsl commented on #36
Sorry for getting back to this much later than expected. I had a bunch of other things to do lately. So the answer for now might also be not really satisfying for you. It's currently not possible since in case  the key and value are present for records we expect both of them to be structured data. this means it can be a plain string but it must be at least a valid json encoded string which in your

[2018-06-19 18:05] hpgrahsl commented on #36
@invadergir would be interesting to know how you proceeded with this one? after thinking about it one more time in a bit more detail it's probably not the best idea to implement a connector specific feature which would allow for your use case. mostly because I think the easiest way to achieve what you need would be to make use of a simple [SMT (single message transform)](https://kafka.apache.org/d

[2018-06-25 18:05] gjiang1 opened #42 "cannot see kafka topic in mongodb. question about the connection issue"
Hello,
Thank you for your article and help! I followed your instruction to set up the connection between Kafka and MongoDB (sink),  After I run ./bin/connect-standalone ./etc/schema-registry/connect-avro-standalone.properties ./etc/sink-connect-mongodb.properties:",  I run  curl......, I can get the correct response," {"offsets":[{"partition":0,"offset":0,"error_code":null,"error":null}],"key_sche

[2018-06-26 19:14] hpgrahsl commented on #42
Hi @gjiang1 !

First I would like to ask which article you are referring to and which instructions you mean that you are following :)

Apart from that, what's a bit confusing to me is the fact that the log snippet you posted contains a completely different package declaration, namely, `org.radarcns.connect.mongodb`. Can it be that you are referring to a different mongodb sink connector e.g. this o

[2018-06-26 20:38] gjiang1 commented on #42
Hi Hpgrahsl, thank you very much for your responses.

I followed https://github.com/RADAR-base/MongoDb-Sink-Connector. I tried to use two ways to start kafka, one is " /confluent-4.1.1/bin/confluent start", you can see below, all UP
Using CONFLUENT_CURRENT: /tmp/confluent.NFBX0ijJ
Starting zookeeper
zookeeper is [UP]
Starting kafka
kafka is [UP]
Starting schema-registry
schema-registry is [UP]
Sta

[2018-06-27 14:45] gjiang1 commented on #42
Hello Hpgrahsl,

Below are what I did,  please help me to figure out the problem. I am a database person but not a programmer and JAVA person. It is my first time to hear Kafka and Confluent, and is learning how to set up the connection between source DB <> Confluent , Kafka <> Sink DB for the future potential project.  Very appreciate your help!
1.	I did not do the Docker installation using “ rad

[2018-06-27 14:54] gjiang1 commented on #42
Hello Hpgrahsl,

Below are what I did,  please help me to figure out the problem. I am a database person but not a programmer and JAVA person. It is my first time to hear Kafka and Confluent, and is learning how to set up the connection between source DB <> Confluent , Kafka <> Sink DB for the future potential project.  Very appreciate your help!

1.       I did not do the Docker installation usin

[2018-06-27 16:56] gjiang1 commented on #42
I modified plugin.path in "connect-avro-standalone.properties" :
plugin.path=/etc/alternatives, /var/lib/alternatives, /usr/share/java, /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.171-8.b10.el7_5.x86_64/jre/bin, /usr/bin, /etc/pki/java, /etc/java, /etc/pki/ca-trust/extracted/java, /usr/lib
then started zookeeper, kafka-server, kafka-rest and schema-registry one by one, they are still running, I run Mong

[2018-06-27 18:07] hpgrahsl commented on #42
Hi again @gjiang1!

Thx for all your detailed comments. However as you pointed out many times you are not using my sink connector project but a different one from https://github.com/RADAR-base namely this project https://github.com/RADAR-base/MongoDb-Sink-Connector

So I would highly recommend you post your "issue" - which actually is more of questions how to setup and get their project running -

[2018-06-27 18:07] #42 closed

[2018-06-27 20:18] gjiang1 commented on #42
Ok, thanks.

[2018-07-01 18:54] hpgrahsl commented on #36
@invadergir any news on this one? otherwise I'd like to close this for now if that's ok with you.

[2018-07-03 19:42] hpgrahsl commented on #31
@CGaul this could be of interest for you. seems like a future version of Kafka Connect will get a feature which at least will give you basic support for your potential use case. see here https://cwiki.apache.org/confluence/display/KAFKA/KIP-298%3A+Error+Handling+in+Connect
It's very helpful since if this gets available more or less all available connectors (including my mongodb-sink-connector) wil

[2018-07-04 19:52] jzuijlek commented on #36
I'm having the same issue with a slightly different use case. I'm using KSQL to aggregate a Kafka Stream. The resulting KSQL TABLE has string as key as well.

[2018-07-04 20:00] hpgrahsl commented on #36
@jzuijlek I see. What about the SMT-based solution I'm suggesting above? A part from that since you are doing it based on KSQL what should also work is that you just wrap your flat string key e.g. `'abc123'` into a valid json string key `{'_id':'abc123'}` which should be straight forward by applying `CONCAT`. What do you think?

[2018-07-04 20:39] jzuijlek commented on #36
I'm trying to use the SMT solution to generate an `_id` field I can use to upsert the records from the table.

[2018-07-05 06:30] jzuijlek commented on #36
I got it working using SMT:

[code]

[2018-07-06 04:10] jzuijlek commented on #36
Yes, that also works, but I want an objectId as _id. Are there any negatives in using it this way?

[2018-07-07 18:11] CGaul commented on #31
Hey @hpgrahsl Thanks a lot! That indeeds is an interesting article, related to my original problem.

[2018-07-09 19:47] hpgrahsl commented on #36
@jzuijlek the way you are using it is fine. in fact it got introduced as an alternative behaviour due to a user request. if you need the objectid field created during first upsert operation than this is currently the way to go.

BTW would you be willing to share your use case of the sink connector (cf. the 2 testimonials at the beginning of the README? that would be very much appreciated. just let

[2018-07-09 19:47] #36 closed

[2018-07-17 20:50] hpgrahsl opened #43 "check CDC compatibility with Debezium Oracle connector events"
Debezium introduced at least preliminary/preview support in the 0.8 release, see:

- http://debezium.io/blog/2018/07/12/debezium-0-8-0-final-released/
- http://debezium.io/docs/connectors/oracle/

Setup a running local Oracle (XStream) environment to test compatibility with the current CDC events. The following links should be helpful:

- https://github.com/debezium/oracle-vagrant-box
- https://gi

[2018-07-19 19:35] hpgrahsl opened #44 "[feature request] allow for automatically added timestamps (inserted/modified)"
this enhancement should offer a configuration option to properly reflect timestamps within mongodb documents whenever documents get inserted to collections and/or are modified later on.

[2018-07-19 19:45] hpgrahsl commented on #44
obviously different solutions would work. current suggestion which should require mimimal changes based on the current design is as follows:

1) introduce new configuration option (e.g. `mongodb.add.upsert.timestamps`) with a default value of `false`

2) add another write model strategy which is based on `UpdateOneModel` and does the timestamp additions accordingly (set inserted timestamp once and

[2018-07-20 20:22] hpgrahsl commented on #44
for implementation progress see https://github.com/hpgrahsl/kafka-connect-mongodb/tree/issue-44
basic functionality and simple test working. also tried to use the new strategy during an E2E test which ran successfully as well.

TODO: documentation changes in README still missing!

[2018-07-20 20:43] SkiaBr23 opened #45 "Support for collection.name={$topic}"
Hello!

I used another Kafka-Mongo sink connector a few months ago, and it has the feature to set the collection name to sink as "{$topic}", and i could listen to several topics and sink them to multiple collections.

If i'm not wrong, this connector do not have that feature. Is this doable? Would be a great help in my projects.

[2018-07-20 20:54] hpgrahsl commented on #45
Hello Rafael!

First of all, I'm glad to hear that you are trying to run my connector :) Concerning your comment, you are right that the current implementation does not offer the feature you are mentioning.

Nevertheless, I would like to learn more about your use case and the "project(s)" you are referring to.

As a side node, a very naive form of this feature could be easily added but in general

[2018-07-21 01:07] SkiaBr23 commented on #45
@hpgrahsl Thanks for the quick reply!

I've been working with some sensors to measure energy consumption in my IoT startup and i found myself in need of a connector since i'm using MongoDB to store the data & Kafka as the main broker. I'm sending different types of data from the sensors to different topics in Kafka, and wanted them to end up in specific collections in the database. I started off u

[2018-07-21 12:55] hpgrahsl commented on #45
@SkiaBr23 thx for clarifying your use case by providing some more details.

The feature you suggest is in fact a bit more involved than it looks at first sight. I already discussed something similar with other users in the recent past. Find a quick summary of my thoughts below:

1) Some general connect specific settings can only be defined once for an instance e.g. number of tasks, key and value c

[2018-07-22 07:53] hpgrahsl commented on #44
Documentation in README updated to reflect this new feature in custom write models section

[2018-07-22 08:34] hpgrahsl commented on #44
Done! Integrated into 1.2.0-SNAPSHOT see #46

[2018-07-22 08:34] #44 closed

[2018-07-27 19:11] SkiaBr23 commented on #45
@hpgrahsl thanks for the detailed answer and tips! I ended up using multiple instances of the connector for now and it's been a good fit for the project.

[2018-07-27 19:11] #45 closed

[2018-07-29 11:44] hpgrahsl commented on #45
@SkiaBr23 great to hear that what I suggested is helpful and works for your current use case!

further I wanted to ask if you maybe would like to share your concrete use case so that I could feature it under [users / customer testimonials](https://github.com/hpgrahsl/kafka-connect-mongodb#users--testimonials) like the other two which are already present in the README. just let me know, would be hi

[2018-08-02 20:35] durduliu2009 opened #47 "Key Renaming and skip null values are not Working"
Hello,

Something is not ok when I make according changes with MongoDbSink because
1. Json Keys are not renamed
2. Deny insert into mongo json with null values is not working even if is set to true

Bellow you find attached my conf.properties

name=MyMongoDbSinkConnector
topics=test,testkafka
tasks.max=1
#key.converter=io.confluent.connect.avro.AvroConverter
#key.converter.schema.registry.url=http

[2018-08-03 13:48] hpgrahsl commented on #47
Hi @durduliu2009

Thanks for reaching out. I quickly looked into this

[2018-08-03 13:50] hpgrahsl commented on #47
Hi @durduliu2009

Thanks for reaching out. I'll quickly look into this later today. From what I've seen so far and if I understood you correctly it's some misconfiguration that most likely causes you trouble. Field renaming definitely works. Will check and get back to you.

[2018-08-03 14:13] durduliu2009 commented on #47
Also please if you are kind to respond my question

For each message that appears in broker topic this connector creates a insert cmd ? or data received in topic si stored in a buffer for 10 seconds for example and then this buffer is pushed to database with a bulk write operation ?

If bulk write is available is there a chance to change parameter ? batch size, time untill batch expires and then b

[2018-08-03 16:50] hpgrahsl commented on #47
Hi again,

So with regard to your:

1. problem = renaming of fields

As I said the renaming works fine. What's important is that you configure the renaming settings properly and also take care that you do it for the key and/or value structure of the kafka sink record. To take your example you could e.g. use the following configuration settings:

Make sure to put the correct renamer in the post pro

[2018-08-03 16:59] hpgrahsl commented on #47
And finally about your comment about error handling. Short answer NO(!) you cannot simply ignore such severe issues which result from a parse error of the whole message - this would also make no sense. Also such errors affect the connect framework code meaning they happen before the specific sink connector code kicks in. You have several options to configure how the key and value struct are encode

[2018-08-03 17:26] durduliu2009 commented on #47
Ok i will try as you said and then i will come back with a feedback. Please let this topic open for few days. Thank you

[2018-08-03 21:10] durduliu2009 commented on #47
As I promised I'm coming back with confirmation for key/value renaming. Yes it is functional :)
Also many thanks for your advice(s). Sorry if I'm asking again but I saw in your documentiation that `The sink records are converted to BSON documents which are in turn inserted into the corresponding MongoDB target collection. The implementation uses unorderd bulk writes.`. OK this responds to one of m

[2018-08-03 23:06] durduliu2009 commented on #45
Hello @hpgrahsl I can give you a use case if I may.
For example I have 10 devices (or more doesn't matter) and those devices send data to kafka somehow it doesn't matter but i have for example 5 different types of values (1. batteryVoltage, 2. tankFuelLevel, 3. energyConsumed, 4. solarLoad, 5. windProduced energy) each parameter I want to store in a different collection/table (database) for each p

[2018-08-04 14:55] durduliu2009 commented on #47
Good. Many thanks for these usefull informations. I'm curios regarding #45 (https://github.com/hpgrahsl/kafka-connect-mongodb/issues/45) if  you plan to develop this kind of feature. Also I tried to give you a good exemple of why and how we can use this kind of feature. Thank you again.

[2018-08-05 07:48] #47 closed

[2018-08-17 09:17] aashishkumar0102 opened #48 "Kerberos and ssl/tls support"
Hi,

I want to know if the connector support Kerberos and tls/ssl support?

[2018-08-17 14:16] hpgrahsl commented on #48
Hi @aashishkumar0102 !

Thanks for bringing up your question. The sink connector supports everything on a protocol / authentication mechanism that the official MongoDB Java Driver supports.

1) So SSL/TLS yes definitely! You just add the SSL option to the URI connection string in the connector's configuration file.

2) As for Kerberos it depends :)
AFAIK Kerberos is still on Enterprise only featur

[2018-08-20 06:54] aashishkumar0102 commented on #48
Hi,

Thanks for your quick response !

can you also tell me about how to configure the sink connector for the same like what config parameter to passed in order to change the authentication mechanism from defaults to Kerberos?

can you provide me a detailed configuration doc for both the above as I am not able to get any doc related to that.

Thanks

[2018-08-20 06:59] aashishkumar0102 commented on #48
Hi,

Thanks For the Quick response,

can you tell me about the configuration docs for the same, like what properties to be mention in

[2018-08-20 19:54] hpgrahsl commented on #48
Hi @aashishkumar0102

You can find a detailed description how you can configure the connection string in the official mongodb docs. https://docs.mongodb.com/manual/reference/connection-string/ All official drivers including the Java Driver used for the connector should support these configuration options.

Good luck :) Again I'd be happy to learn a bit about your concrete use case for the connecto

[2018-08-20 19:54] #48 closed

[2018-08-29 06:13] aashishkumar0102 commented on #48
Hi,

Our use case is like live data is coming to kafka in different topics and we want each topic to sink data in different collection in mongo also we are using avro based data and defining key and value schema.
and if same data is coming with same key it should update the fields.

so for the above use case can you suggest the appropriate config for your connector?
we want to define _id based on

[2018-08-29 13:05] hpgrahsl commented on #48
1) there is currently no option to support multiple different topic <-> collection mappings with a single connector configuration - it's a planned feature but unfortunately not available yet. in case you have a somewhat limited / reasonable number of topics (e.g. 5-20) you can temporarily workaround this by launching multiple connector instances each handling only a single topic. see also this dis

[2018-08-30 05:45] aashishkumar0102 commented on #48
Hi,

Thank you for the quick response.

we have some different scenario like around a million record would populate in a whole day and average size is 10KB only not 100KB(mistake). and in midnight again all the data the client would replicate all together and all data we have to sink in around 5 minutes, that's why I asked roughly for that much throughput.

[2018-08-30 13:54] hpgrahsl commented on #48
Ok I see. What you are describing now has indeed almost nothing in common with your original inquiry ;-) just to make sure if I understood you correctly:

1) you are ingesting about 1 Mio records each having 10KB into Kafka during the day = in total ~10GB data
2) then you want to process these accumulated records starting at midnight within a 5 min window, meaning that you need a throughput of ~ 2

[2018-08-31 11:52] aashishkumar0102 commented on #48
Hi,

some data they will continuously sink and for some they cannot do live as the client is a Bank and they can only replicate in maintenance hours only.

We are testing other connectors also right now, will surely let you know after the testing.

Again, Thank you very much for your quick response and support.

[2018-08-31 12:04] aashishkumar0102 commented on #48
Can you also explain little what is CDC tool?

[2018-09-15 20:14] hpgrahsl opened #49 "add configurable batching support"
similar to what other connectors allow for there should be an optional batching support during the processing of sink records. such a feature could be used to kind of rate limit or at least throttle throughput towards the sink. in that sense it's an upper bound defining that at most N records are written towards the sink in one go.

- introduce new configuration option for batching e.g. mongodb.ma

[2018-09-15 20:19] hpgrahsl opened #50 "check CDC compatibility with Debezium SQL Server connector events"
Debezium introduced at least preliminary/preview support in the 0.9 release, see:

- https://debezium.io/blog/2018/07/26/debezium-0-9-0-alpha1-released/

Setup a running local SQL Server environment to test compatibility with the current CDC events. The following links should be helpful:

- https://github.com/debezium/debezium-examples/tree/master/tutorial#using-sql-server

[2018-09-16 14:28] #49 closed

[2018-09-21 20:06] hpgrahsl commented on #50
successfully tested using DBZ 0.9.0 with the source connector setup and SQL server like described in
https://github.com/debezium/debezium-examples/tree/master/tutorial#using-sql-server

[2018-09-21 20:14] hpgrahsl opened #52 "[feature request] support multiple topics"
One of the most requested features based on user feedback so far is to have support for storing kafka records from different topics into separate mongodb collections. see e.g. [#45,#48]

there are basically two ways to achieve that:

1. the naive way is to simply write every record to a collection in mongodb with the same name that's specified as record name in the sink record. problem is that it

[2018-09-23 19:10] hpgrahsl commented on #52
FYI @durduliu2009 @SkiaBr23 since you asked for this a while ago -> eventually a first version of this feature is already in development :)

[2018-09-23 19:59] durduliu2009 commented on #52
@hpgrahsl those are great news !!! I look forward for this to have some tests with this new feature !!!

[2018-09-30 19:28] #52 closed

[2018-09-30 19:48] hpgrahsl commented on #52
FYI @durduliu2009 @SkiaBr23 it's available as of now. Documentation see https://github.com/hpgrahsl/kafka-connect-mongodb#collection-aware-configuration-settings

[2018-10-17 10:19] mikefrancois opened #55 "Convert CurrentBSONType is DOCUMENT, not when CurrentBSONType is INT32"
Even if I used

**distributed.properties**

CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
CONNECT_INTERNAL_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
CONNECT_INTERNAL_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
CONNECT_REST_ADVERTISED_HOST_NAME: "kafka-connect"

**con

[2018-10-17 14:46] hpgrahsl commented on #55
hi @mikefrancois !

nice to see that you try to work with the mongodb sink connector :) unfortunately what you report is very limited in information so let me guess right into the blue:

1) I assume the JSON object you posted above as "data" is the value part of the record
2) the problem is most likely related to the key part of your records
3) even if you specified the _StringConverter_ for the k

[2018-10-17 15:10] mikefrancois commented on #55
Thank you for your answer @hpgrahsl.
Effectively, my record was not so good and I changed for an INT in my structure.
Everything seems to be ok now.

[2018-10-17 15:10] #55 closed

[2018-10-17 15:16] hpgrahsl commented on #55
You are welcome. Glad to hear you got it working. It would be interesting to learn about your particular use case. Would you be willing to share? I'm always looking for user voices / testimonials to feature in the readme.

[2018-10-17 15:20] mikefrancois commented on #55
With pleasure.

[2018-10-17 15:51] hpgrahsl commented on #55
Great to hear @mikefrancois! I'd be really happy if you could send me a few lines what you are doing with it. In case it's tied to a company use case also feel free to share the name and/or logo. You can check the other two testimonials if you need an inspiration :) THX in advance

[2018-10-18 22:36] iammasariya commented on #33
@AnthonyKoueik
It may be an issue with proxy. I faced the same issue and got it resolved my updating proxy in .m2/settings.xml file.
Please refer to this [settings.xml](https://stackoverflow.com/questions/15334394/could-not-transfer-artifact-org-apache-maven-pluginsmaven-surefire-pluginpom2/15334627#15334627) if you still have problems.

[2018-10-20 11:49] masihyeganeh opened #56 "Sinking aggregated data does not work"
Hi. I have an issue with Sinking data to MongoDB using your code.
I read similar issues like #55 and #36 and I know possible solutions but I couldn't make them work with my situation.
I have a stream that I aggregate values of it within a window using KSQL. here is my query:

[code]

It creates a table which it's ROWKEYs are like this:

- `149988257825337_6696933 : Window{start=1540024620000 end=-

[2018-10-20 12:55] masihyeganeh commented on #56
I also tried hoisting with no success.
[code]

[2018-10-20 13:34] hpgrahsl commented on #56
Hi @masihyeganeh thx for getting in touch!

1) the question is how do you want the data of the KTable to be inserted into the MongoDB collection? By that I mean how would a mongodb document look like: would it include the rowkey information as a field, should this even become the _id field in the resulting document? because then you may need further post processors

2) apart from that a plain naiv

[2018-10-20 18:16] masihyeganeh commented on #56
Thanks for swift reply.
To answer your first question, I'd like to have a mongo collection to store watch time of users for movies in windows. Something like this:
[code]

And for the second one, the second error (`org.bson.json.JsonParseException: JSON reader was expecting a value but found 'null_12208937'`) happened when I used `org.apache.kafka.connect.storage.StringConverter` as key converter.

[2018-10-21 06:36] hpgrahsl commented on #56
@masihyeganeh

1) for me the configuration with a StringConverter for key worked fine. I used some different data but the rowkey is also coming from a WINOWED calculation and contained data of similar format than yours. so I'm currently wondering what's the problem at your side. this was my configuration

[code]

2) the actual problem here seems to be that the rowkey when generated from windowed c

[2018-10-21 06:56] masihyeganeh commented on #56
I appreciate your help man. Thanks for taking time to test it.

1. You mean you have a WINDOWED aggregated stream as a KTable and StringConverter can successfully convert it's binary ROWKEY to a string that can be stored in Mongo? I can't. how it works for you?

2. I was even thinking about a simple hash function that converts ROWKEY containing string and binary to a simple hex string. It will act

[2018-10-21 07:17] hpgrahsl commented on #56
yes the string conversion was done but like I said you get 'garbage characters' and thus a non-usable string representation but it landed in the collection as documents anyway

you can do it with the string representation that you see on the KSQL CLI. simply add the ROWKEY field to the field list like e.g.

`SELECT ROWKEY AS rk, ... FROM demo_ksql_table`

doing that makes the rowkey part of the va

[2018-10-21 10:16] masihyeganeh commented on #56
Thanks man! it's working. But I'm not sure if it is doing what I want or not. I hope it does.
You're great, Thanks

[2018-10-21 10:16] #56 closed

[2018-10-21 10:33] hpgrahsl commented on #56
Well the latter is not a good sign... I suggest you better check if it behaves like expected.

[2018-10-23 14:06] masihyeganeh commented on #56
Ok, My concern was right. It is not doing what I want.

Here is my config again:
[code]

And it is producing records like this:

[code]

As you can see, it is not updating records with same ID, instead it inserts new records.
the `_id` should be the identical for the records with same ID (if I'm not wrong).
Is it? Am I wrong? I thought it should upsert records in Mongo.

[2018-10-24 13:22] masihyeganeh commented on #56
Sorry, my fault.
Thanks for helping.

[2018-10-31 12:25] Manish-Sharma2015 opened #57 "Schema registry URL setting from control center is missing."
Hello Team,

I tried configuring the mongoDB sink connector through Confluent Control Center. I could not see "value.converter.schema.registry.url" property to set the schema registry URL. I had to use the connect REST API to update this property at sink connector instance level.

Not sure if this is an issue or expected behavior. Please help.

[2018-11-02 15:45] gunnarmorling opened #58 "kafka-connect-mongodb-1.2.0-jar-with-dependencies.jar contains superfluous dependencies"
Hi @hpgrahsl, it appears as if the dependencies could be optimed a bit, as there are some Maven plug-in related things in there. This seems to be caused by this dependency:

        <dependency>
            <groupId>io.confluent</groupId>
            <artifactId>kafka-connect-maven-plugin</artifactId>
            <version>${confluent.connect.plugin.version}</version>
        </dependency>

Is this

[2018-11-02 16:39] lmcsegura opened #59 "mongodb.delete.on.null.values not working"
Hi ,

Thanks in advance for your help.

I'm using your connector 1.2 (latest version) which works for me "Insert" and "Update" as stated in your documentation. But, unfortunately I cannot get the document "Deletion" in MongoDB to work.

My configuration:
`
{
  "name": "mongodb-sink-dds",
  "config": {
...

    "connector.class": "at.grahsl.kafka.connect.mongodb.MongoDbSinkConnector",
    "key.conv

[2018-11-02 16:47] hpgrahsl commented on #58
@gunnarmorling thx for reporting this. you are absolutely right. it should definitely be configured as a plug-in. also I'd assume that this is not the only thing to optimize in this regard :)

[2018-11-03 07:35] hpgrahsl commented on #59
Hi @lmcsegura,

Thx for reporting this. I'm afraid you're indeed facing nasty a bug here. I already identified the problem. Will provide a fix as soon as I find some time.

Until then, kind regards!

[2018-11-03 16:41] lmcsegura commented on #59
Hi @hpgrahsl,

Thank you for your prompt response. Look forward to hear from you.

Regards,
Luis.

[2018-11-04 14:12] hpgrahsl commented on #59
@lmcsegura you can checkout the issue-59 branch and build this SNAPSHOT version which contains a fix. let me know if it works for you. I'll probably add a few more test cases before merging it later. next release will contain the fix for sure.

[2018-11-06 12:42] lmcsegura commented on #59
Hi hpgrashl,

Thanks for providing a fix branch. Took me a bit more time to test as I wanted to be a bit more thorough and reply to you with as much detail as I can.

I’ve used version 1.2.1 from branch59 after compilation: “kafka-connect-mongodb-1.2.1-SNAPSHOT-jar-with-dependencies.jar”
I’m also using the same previous configuration:

**My test results:**

1) YES. It now deletes/removes the recor

[2018-11-11 14:15] masihyeganeh opened #60 "How to make it work faster?"
Hi.
I need to thank you for this project. It works well in our company.
But I need to know if there is a way to make it transfer data faster or not.
Here is a screenshot of our Control Center:
<img width="1294" alt="screen shot 1397-08-20 at 5 39 12 pm" src="https://user-images.githubusercontent.com/692335/48314032-f7ecfb80-e5d8-11e8-8c1f-f5c06ca049d5.png">

As you can see, it is over 9 million re

[2018-11-11 18:43] hpgrahsl commented on #60
Hi @masihyeganeh !

I'm happy to hear that the connector is useful for you/your company :) Your question is extremely general and also the screenshot showing the lag of roughly ~9Mio messages doesn't help much unfortunately.

1) What is the average ingestion rate to the topic that the sink connector consumes i.e. how many messages / sec are produced to this topic? During which period (a few minute

[2018-11-13 16:54] hpgrahsl commented on #59
No worries.

THX. You're welcome. I'm happy to help!

Good to hear it's now also working for you :)

Definitely yes. It will be part of the next release (either minor i.e. v1.3.0 or patch v1.2.1)

Exactly this is the expected behaviour. Again, this deletion by convention approach on Kafka SinkRecord values being null is supposed to delete the complete MongoDB document - never only parts of it. Thu

[2018-11-13 16:54] #59 closed

[2018-11-20 20:22] hpgrahsl commented on #57
@Manish-Sharma2015 could you maybe provide the information I was asking for? otherwise I'd suggest it makes sense to close this issue after > 2 weeks without a comment from your side.

[2018-11-20 20:43] hpgrahsl opened #62 "[feature] rate limiting throughput"
Actual throughput rate of the sink connector can already be controlled at least to some degree:

- tweak the configuration params for the underlying consumer (group) settings
- make use of the [sink record batching approach](https://github.com/hpgrahsl/kafka-connect-mongodb/commit/636710b5dab5d609eeb476e2755f5e45bd484b3c)

Both settings help to influence the write load that hits the sink data stor

[2018-11-21 13:13] Manish-Sharma2015 commented on #57
Thanks for the response. Let me check with confluent providing this property in control center.

[2018-11-21 13:13] #57 closed

[2018-11-25 00:12] sundipnair opened #63 "Connector Plugin not loaded"
I have Kafka running on a K8s cluster using the confluent.io helm charts.

I then shelled into my kafka-connect pod and installed the mongo db connector. The installation works fine and my plugin path is automatically added to all the properties files. However when I curl into the /connector-plugins api endpoint it does not return the mongo connector in the list.
Env is AKS (Azure)
K8s version

Cl

[2018-12-03 15:20] sundipnair commented on #63
Need to load the mongodb connector into my custom image using the confluent base image.

[2018-12-03 15:20] #63 closed

[2018-12-04 20:52] hpgrahsl commented on #60
Hi @masihyeganeh, since I haven't heard back for > 3 weeks I think it makes most sense to close this issue for now. In case you find the time to clarify in detail and answer at least some of my questions above we can dig deeper and reopen. Until then all the best!

[2018-12-04 20:52] #60 closed

[2018-12-08 14:05] SkiaBr23 commented on #52
@hpgrahsl Just saw this. Great work on the feature, actually way more helpful than i expected. Kudos!

[2018-12-12 18:31] fortinj66 commented on #56
This issue still seems to occur with the KSQL 5.1.x branch...

The key on a windowed tables still has binary data embedded making it unusable for JDBC Connect

[2018-12-26 05:27] shu-bham opened #64 "JsonParseException when sending data from a mosquitto publisher into MongoDb"
I have explained my problem here https://stackoverflow.com/questions/53924735/mongodb-sink-connector-jsonparseexception-json-reader-was-expecting-a-value
 Please help me solve this error

[2018-12-27 14:03] shu-bham commented on #64
Thank you for the quick response.
I am using the **publish()** method as described in [Eclipse Paho MQTT Python client library.](https://pypi.org/project/paho-mqtt/#publishing) The publish(topic,payload) method expects the payload _to be string, bytearray, int, float or None_ before sending the message to the topic. Thats the reason I have converted my json object into a json string using json.dum

[2018-12-28 09:46] hpgrahsl commented on #64
Thx for providing further details. What is still not clear to me is what the key for your published records is? The publish method of the python library takes the topic and the payload as a JSON string.

1) according to the schema registry the topic is "mqtt."
2) but in your python publish call you specify "dist" as the topic
3) in the kafka-avro-console-consumer the key seems to be "dist" ?

anyw

[2018-12-28 10:01] shu-bham commented on #64
Hi. Sorry for the confusion. `dist` is the topic on which I'm publishing my data via Mosquitto and that data is translated to the kafka topic `mqtt.` via the mqtt-source connector file :

`name=MQTT-source`
`mqtt.topics=dist`
`kafka.topics=mqtt.`

So how can I make `"dist"` to  ` "{\"key\": \"dist\"}" ` ?

[2018-12-28 15:16] hpgrahsl commented on #64
The records which you publish to the "dist" topic using mosquitto are then processed i.e. written to the "mqtt." topic by which means? either you can change the key directly during this processing step or you try to employ an Kafka Connect SMT like suggested as a working solution in #36.

[2018-12-29 08:19] hpgrahsl opened #65 "support JMX metrics"
Similar to what other connectors offer, the MongoDB sink connector should expose JMX metrics in order to be able to monitor the processing of Kafka Connect Sink Records.

Among others, a few useful metrics could be:
* the latest SinkRecord / BsonDocument (per topic?)
* progress i.e. latest offset processed (per topic and parition?)
* total number of processed SinkRecords (per topic?)
* avg time in

[2019-01-03 07:39] hpgrahsl commented on #64
Did you have any success yet? If so I'd like to close the issue. If not let me know if you need further help. THX.

[2019-01-03 07:46] shu-bham commented on #64
The README  of MQTT-source connector says `The output of this connector is an envelope with all of the properties of the incoming message. If you need the body of the Mqtt message as the value written to the topic in Kakfa, use a Transformation to achieve this.`
So I am trying to get a working SMT solution. The working transformations given in #36 is not working for me.

[2019-01-03 08:07] hpgrahsl commented on #64
Thx for getting back. Of course you cannot simply use the exact same SMT configuration found in #36 for your use case. But the concept to define an SMT with a configuration that fits your message structure / envelope should be the same or at least very similar. Good Luck!

[2019-01-04 09:49] shu-bham commented on #64
Hi @hpgrahsl ,
I was able to persist data in mongoDb by changing the converters. Now I am facing one isse. The `whitelist` projection type isn't working for me.

**MongoDbSinkConnector.properties**

`name=MyMongoDbSinkConnector`
`topics=mqtt.`
`tasks.max=1`
`key.converter=org.apache.kafka.connect.json.JsonConverter`
`value.converter=org.apache.kafka.connect.json.JsonConverter`
`key.converter.schem

[2019-01-04 11:53] hpgrahsl commented on #64
The blacklisting and whitelisting of fields has to be applied to the key and value parts of you records separately. So if you want to use whitelisting for your value structure you use the WhitelistValueProjector but you need to specify the WhitelistKeyProjector for whitelisting fields in the key structure. The same holds true for blacklisting. If you want to have it applied for key + value then yo

[2019-01-04 13:58] shu-bham commented on #64
Thanks. the Addendum part worked. Now It all comes to the SMT part. Please help me write an SMT for inserting that `key.payload` into `value`. Now thats all I require for moving on my project xD.

[2019-01-04 18:34] hpgrahsl commented on #64
Unfortunately it seems there is no ready-made SMT for you based on the current docs see e.g. https://docs.confluent.io/current/connect/transforms/index.html

This basically leaves you with three options:

1.  write a custom SMT
2. write a custom PostProcessor for my MongoDB sink connector.
3. if neither 1) nor 2) is what you can do, then it would be the easiest to include the field ```"payload":"d

[2019-01-06 07:02] shu-bham commented on #64
Yes I agree none of the available SMT solves my problem. `3` seems the easiest way to get going with my project. If afterwards time permits, I will try to write a custom PostProcessor for Sink Connector.

[2019-01-06 07:02] #64 closed

[2019-01-21 20:27] hpgrahsl opened #67 "[feature] fallback to kafka topic name"
The current collection/topic aware configuration options expect to provide an explicit mapping between any kafka topic name and its corresponding mongodb collection name. Besides, there is the option to specify a default mongodb collection name in case no explicit mapping is provided but this means that all sink records of potentially different kafka topics are written to the same mongodb collecti

[2019-01-22 08:48] hpgrahsl commented on #67
implemented in #68

[2019-01-22 08:48] #67 closed

[2019-01-27 15:03] hpgrahsl commented on #62
done see #69

[2019-01-27 15:03] #62 closed

[2019-02-12 12:41] bajaj-varun opened #70 "BsonInvalidOperationException: readStartDocument can only be called when CurrentBSONType is DOCUMENT, not when CurrentBSONType is STRING"
**Data from source system** -
    abc@abc.com# kafka-avro-console-consumer --bootstrap-server localhost:9092 --topic TTDF.TCDCPOC_DATA_TYPES --from-beginning --property print.key=true --property print.value=true --property key.deserializer=org.apache.kafka.common.serialization.StringDeserializer

    "57508564"      {"data":{"SEQNO":{"int":57508564},"TEXT":{"string":"Lorem ipsum dolor sit amet,"},

[2019-02-13 15:34] rhauch commented on #70
@bajaj-varun your configuration for the internal key and value converters is incorrect. In particular, the `internal.value.converter` uses the AvroConverter, but there is no corresponding `internal.value.converter.schema.registry.url`. Check your Connect worker logs for errors and warnings, because I'm surprised you got this far.

However, I strongly recommend you only use the JSON converter with

[2019-02-13 20:12] hpgrahsl commented on #70
@rhauch Many THX for the answer you contributed here.

@bajaj-varun let me add to that the following. irrespective of what @rhauch suggests I also see that you key seems to be a plain string. this would not work since the connector always expects the data to be parsable from valid JSON. very similar questions have come up in the past. e.g. read about potential solutions here #36 or #64.

please le

[2019-02-14 06:05] bajaj-varun commented on #70
Hi @rhauch , @hpgrahsl

Good morning. Hope you are doing great and Thanks for your response. Out of curiosity, is there any way possible to skip reading of "key" because this is part of simple POC where we just need to consume the message and dump to downstream without any modification in nested data ?

[2019-02-14 10:20] bajaj-varun commented on #70
Hi @hpgrahsl your referenced solutions helped also we made key as null to skip the keys and the solution also worked as for POC we need only values. Thanks again for your help and marking the issue as close.

[2019-02-14 10:20] #70 closed

[2019-02-14 19:46] hpgrahsl commented on #70
@bajaj-varun glad to hear you got it working for your use case! if you do more than the POC let me know. always happy to learn about yet another real-world story :) ah and also thx for closing this.

[2019-02-25 07:33] abhisheksingh87 opened #73 "Exactly once sematics and DLQ confuguration."
Hi,

We are trying to use the kafka connect  with the mongodb sink connector in order to sink the genearated event messages to the mongodb.  Below are few of our concerns and we need your suggestions on the same.

1. Does the connect  and connector support the idempotence and exactly once  semantics? I tried to pass the producer and consumer config through the sink properties. But the connect star

[2019-02-25 20:09] hpgrahsl commented on #73
Hi @abhisheksingh87 - thanks for reaching out.

1) exacty-once semantics: in general sink connectors cannot provide exactly-once behaviour for any data. what is possible with e.g. my sink connector is to write against the sink (mongodb collection) with upsert semantics which when combined with any unique attribute found in kafka records give you idempotent write behaviour. so if you make sure that

[2019-02-26 14:20] abhisheksingh87 commented on #73
Hi @hpgrahsl,
Thanks for your reply.  We have some more clarification regarding the connector as mentioned below.

1. Does the connector guarantees atleast  once semantics?
2. Is it possible to filter events based on any given parameter. We have use cases where we need to filter the write operations to mongodb collection based on an attribute in the event message.
3.How is the offset management ha

[2019-02-26 18:50] hpgrahsl commented on #73
1) yes of course. at least once semantics you get basically out-of-the-box without taking any special care on sink connector configuration. be advices though that in my experience this is very rarely what you want. as I said you can make sure to have idempotent writes by doing key-based upserts just by configuring things accordingly.

2) neither the kafka connect framework itself nor the sink conn

[2019-02-27 23:31] stephenBSL commented on #36
I am running into the same problem as original poster, but it's unclear to me how to use any of the SMTs listed on confluent to modify a key from string to json.  Any hints to achieve this?  I get the point of your suggestions but am not seeing an SMT that allows me to convert KEY to {"_id":"KEY"}.

[2019-02-28 05:17] adrien-ben commented on #36
I, We also use this connector and ran into the same problem. We use Kafka connect transformation to wrap the key and do it like this:

[code]

Confluent documentation on transformation is light but you can find more details in Apache Kafka documentation : https://kafka.apache.org/documentation/#connect

[2019-02-28 14:41] stephenBSL commented on #36
Thank you @adrien-ben.

That does prevent the exception, however I am not seeing the key show up in the mongo document.
HoistField$Key seems to be having the same effect as Drop$Key, which I might be ok with.

[2019-02-28 15:53] adrien-ben commented on #36
Yep I forgot something. You also have to set

[code]

So it actually uses the _id from the created key document

[2019-02-28 16:46] stephenBSL commented on #36
Yes.  Thank you, adding that works.

[2019-02-28 18:06] hpgrahsl commented on #36
@adrien-ben thx for your efforts and helping out here. @stephenBSL I'm glad to hear you found a solution. With regard to the DocumentIdStrategy do you think something is missing or not clear enough in the docs/README? I wrote it so I'm biased of course :)

[2019-02-28 18:24] stephenBSL commented on #36
No, it's fine.  I went through so may iterations trying to figure out an SMT solution, that I overlooked the document id strategy once I had the SMTs settled.

[2019-03-06 20:18] hpgrahsl commented on #73
@abhisheksingh87 getting back to you about this. if anything is clarified I'd be happy if you close the issue. THX!

[2019-03-21 18:36] #73 closed

[2019-03-28 13:13] zthulj opened #74 "[feature request] publish sink connector artifact to maven central"
Hey,

In order to be able to create a projet with one or more postProcessor, I think that It would be a good idea to publish the current connector project to the central nexus.

[2019-03-28 20:38] hpgrahsl commented on #74
@zthulj yes you are right in case you want to write a project containing any custom code this would be helpful. till today nobody ever asked for it but I'll try to look into this soonish. THX for reporting this improvement suggestion!

[2019-04-04 17:46] hpgrahsl commented on #74
Fixed with release 1.3.0 -> find it on maven central as of now. Enjoy!

[2019-04-04 17:46] #74 closed

[2019-04-09 09:27] zthulj opened #76 "The Renamer post processor does'nt call the next ones"
Hi,

I've seen that when we use the RenameByMapping that extends the Renamer PostProcessor, it won't call the following postProcessors (if they exist).

I think this is a bug.

As the fix seems easy, I can provide a PR.

### How to reproduce :
- Create a sample post processor
- Use this line when creating the connector : "mongodb.post.processor.chain":"at.grahsl.kafka.connect.mongodb.processor.fie

[2019-04-11 16:52] hpgrahsl commented on #76
Many THX @zthulj for spotting and reporting this bug. It's correct that it has to call potential next post processors in order not to break the chain. I am going to fix this with the next patch release 1.3.1 which is planned to get done soonish.

[2019-04-11 18:46] #76 closed

[2019-04-19 11:28] piyush2206 opened #78 "Cannot insert a field with '.' ('dot') in field name"
Hello,
Not able to insert records whose field contains '.' (dot) in it.
`java.lang.IllegalArgumentException: Invalid BSON field name kubernetes.io/config.source`

Since MongoDB 3.6, support for key names with dot and dollar sign is allowed. https://docs.mongodb.com/manual/reference/limits/#Restrictions-on-Field-Names

Also tried to work around this by using "post processor - mongodb.field.renamer.

[2019-04-20 06:55] NikhilManapure commented on #78
I am also facing the same issue, I tried using SMT functions but it didn't help out.
@hpgrahsl  Can you please help me here?

[2019-04-22 18:19] jbharath11 opened #79 "Mongo DB connection URI for SSL and sslAllowInvalidCertificates"
Mongo DB connectivity with Shell is working fine.

```> mongo localhost:37017/admin -u <username>  -p <password> --authenticationDatabase admin --ssl --sslAllowInvalidCertificates```

I can't able to connect to a mongo db with connection uri like below,

```> mongo mongodb://<username>:<password>@localhost:27017/admin?ssl=true&sslAllowInvalidCertificates=true&authSource=admin```

*Error*
[code]
Be

[2019-04-30 17:52] hpgrahsl commented on #79
hi @jbharath11 thanks for reporting your issue related to SSL connections. I didn't find the time to reproduce your problem locally but in general when you work with SSL/TLS connections using self-signed certs in Java you need to configure that on the JVM level as well.

please try to read through this http://mongodb.github.io/mongo-java-driver/3.10/driver/tutorials/ssl/ and let me know if you suc

[2019-04-30 18:38] hpgrahsl commented on #78
Thx @piyush2206 and @NikhilManapure for reporting this. In the current version of my sink connector it is not supported to use "." as a field name for several reasons. Very briefly this is why:

1) JSON allows several field name characters which are either only partially supported or not valid to be used in MongoDB documents at all. By that I mean that while it would be possible to convince the db

[2019-04-30 19:50] #78 closed

[2019-05-14 04:49] nazr opened #80 "Support for topics wildcards"
Hi, since multiple topics are supported, it would be useful to support wildcards in "topics" as well.

[2019-05-14 04:58] nazr opened #81 "Add a write model strategy to inject Avro schema name and version when Schema Registry is used"
When Avro/Schema Registry is used, any information used to de-serialize a message is lost.

While the result document structure still reflects the original Avro schema. Would be extremely useful to be able to track it back to the schema even after the message is sinked into MongoDB

[2019-05-14 06:48] nazr commented on #80
Perhaps it's already supported? https://issues.apache.org/jira/browse/KAFKA-3073

[2019-05-14 07:46] hpgrahsl commented on #80
@nazr you should be able to specify a regexp for the topics property in the sink configuration. this then causes connect to subscribe to all of them. what's important to keep in mind is that if you happen to need e.g. individually different settings on topic level you should configure the topic specific overrides accordingly. another option would be e.g. to use the empty string for ```mongodb.coll

[2019-05-14 07:51] hpgrahsl commented on #81
Hi @nazr again :) Could you maybe elaborate a bit on your specific use case? typical scenarios if seen so far need to get the correct data according to the defined AVRO schema into the sink i.e. mongodb collection. So far no one expressed a similar need to yours but you may give me a concrete example how you want to look like the resulting mongodb document for what you have in mind. irrespective o

[2019-05-14 16:32] hpgrahsl commented on #79
@jbharath11 do you have any updates on this? please let me know otherwise I would suggest to close this for now. thx in advance

[2019-05-14 16:38] jbharath11 commented on #79
@hpgrahsl - Sorry for the delay. As mentioned the discussion, configuring the SSL CA certificates in Java/JVM resolves it and we need to pass **ssl=true** in URI.

 mongo mongodb://<username>:<password>@localhost:27017/admin?**ssl=true**

[2019-05-14 16:38] #79 closed

[2019-05-15 00:14] nazr commented on #80
thanks for the reply! Our requirement is to sink all the topic that match a wildcard definition to a single collection. It sounds like the collection name will be different though, so it won't work?

The list of topics is not known (hence wildcards), so can't configure it on per topic basis.

[2019-05-15 00:27] nazr commented on #81
In general, if you think about it, Avro schema name/version is a piece of meta information that gets lost by the sink connector. You can easily imagine a requirement when once data is written into MongoDB it would need to be retrieved/processed differently based on the message schema. Two messages based on two different schemas would result in different document structures if nothing else.

In our

[2019-05-15 01:38] ryancrawcour commented on #81
Would you see this metadata being copied in to the actual document that is persisted in Mongo? If so, how would this happen? As a "header" or "schema" complex object?

[2019-05-15 02:16] nazr commented on #81
This metadata is stored separately and joined on schema name/version on retrieval from MongoDB.

[2019-05-15 02:18] ryancrawcour commented on #81
Stored separately in MongoDB, or elsewhere?

[2019-05-15 02:29] nazr commented on #81
In our case it's stored in a separate MongoDB collection at the moment

[2019-05-16 20:00] hpgrahsl commented on #80
you can configure the connector so that it reads multiple kafka topics and sinks them into the same mongodb collection. in fact this behaviour was there from the very beginning where it wasn't possible to specify topic/collection specific configuration options. just try to put your regexp for the ```topics``` property and then set the ```mongodb.collection``` property to a name of your choice for

[2019-05-17 11:26] bugf1nd3r opened #82 "Issue with MongoDB sink connector when trying to CDC from debezium SQL server 0.9.5 driver"
Hi,

I am using confluent kafka to capture change data from SQL server (source) to MongoDB (sink).

I am using ```debezium/debezium-connector-sqlserver:0.9.5``` for SQl server and below is the configuration of SQL server driver

[code]

When I register this source driver, I am able to consume messages for the topic ```servername.dbo.customer_detail``` using avro console consumer.

In order to sink

[2019-05-21 05:55] nazr commented on #80
Thanks! it does work with latest version of everything. It's worth noting that it'll only pick up existing topics at the time the connector is created. Any new topics, even if they match the wildcard definition wouldn't be processed.

[2019-05-21 18:28] hpgrahsl commented on #80
Glad to hear it works for you as expected. Your observation - namely that the connector only picks up topics that exist at creation time - is the current behaviour of the kafka connect itself. The topic subscription happens at framework level. Thus it has nothing to do with my sink connector implementation. I you think connect should periodically check for new matching topics to subscribe to after

[2019-05-21 18:28] #80 closed

[2019-05-26 19:56] hpgrahsl commented on #82
1) YES in case a sink connector's log shows ```Task is being killed and will not recover until manually restarted``` it means no further processing will be done from this SinkTask. So this is the reason why you don't see data arriving in your MongoDB collection.

2) Based on your description I assume you are using the wrong CDC handler. If you use Debezium Mysql Connector you are supposed to make

[2019-05-27 06:25] bugf1nd3r commented on #82
Hi,

I am not using Debezium Mysql Connector. I am using Debezium SQL Server connector as source.

here is driver link : https://www.confluent.io/connector/debezium-sql-server-cdc-connector/

[2019-05-27 19:10] hpgrahsl commented on #82
@bugf1nd3r sorry I misread this obviously. but still you need to use a compatible CDC handler according to the source. A while back I successfully tested (manually) the compatibility of my implementation (see **RdbmsHandler**) with the SQL server source connector of Debezium. So give it a spin with the following, and in case they didn't introduce any breaking changes since I last tried it you migh

[2019-05-28 06:37] bugf1nd3r commented on #82
Thanks @hpgrahsl for correct cdc handler.

Now when I register sink driver, I don't get `null` exception. I am getting connected message

```[2019-05-28 11:57:12,079] INFO Monitor thread successfully connected to server with description ServerDescription{address=mongoserver:27017, type=REPLICA_SET_PRIMARY, state=CONNECTED, ok=true, version=ServerVersion{versionList=[3, 6, 2]}, minWireVersion=0, ma

[2019-05-28 16:04] hpgrahsl commented on #82
@bugf1nd3r Thx for getting back again. It looks like you found a bug - congratulations :) Since it shouldn't be hard to fix I try to provide a fix soonish.

Until then you might try to workaround with the following configuration change:

[code]
Ideally you won't run into the NPE with this anymore.

[2019-05-29 06:56] bugf1nd3r commented on #82
Thank you @hpgrahsl for workaround. I am now able to live sync data SQL server 2017 to MongoDB.
Thanks for creating this awesome driver. :)

Eagerly waiting for future updates.

[2019-05-31 19:54] #82 closed

[2019-06-08 13:21] jigs031 opened #84 "Convert String Date or epoch into Mongo ISODate"
Hi

We are migrating our existing mongo ingestion processes to Kafka connect. Incoming data has  timestamp and date columns  and wanted to store it as ISODate format.

Below is sample data set

`{
"INGESTION_TS" : NumberLong("1559757225159"),
"PROCESS_TS" : "2019-06-05T19:53:45.159Z",
"DEVICE" : "Samsung SCH-I535",
"DEVICE_MAKE" : "Samsung",
"DEVICE_MODEL" : "SCH-I535",  "SUBID" : "OWZlNHw5Y2UxNDl

[2019-06-09 18:59] hpgrahsl commented on #84
Hi @jigs031!

Very nice of you to reach out. The sink connector itself is able to work with Date/Time fields since it supports AVRO logical types see in the docs here https://github.com/hpgrahsl/kafka-connect-mongodb#logical-types But in order for this to work as expected, the AVRO records and schema thereof need to be appropriate in the first place. Thus, if you find a way to produce your records

[2019-06-13 12:12] limadelrey opened #85 "Unable to delete records using "mongodb.delete.on.null.values" property"
Hey,

First of all let me thank you for this brilliant connector. I've been considering to use it long ago so as a first use case I decided to make a data pipeline that captures change data from a PostgreSQL database (source) and replicates that content into a MongoDB database (sink).

I've managed to capture change data by using debezium/debezium-connector-postgresql:0.9.4 connector and some simp

[2019-06-13 15:07] hpgrahsl commented on #85
@limadelrey THX for you kind words!

From what I've seen you seem to be missing the fact that the sink connector has "native" support for Debezium CDC events. Please read again through this README [section](https://github.com/hpgrahsl/kafka-connect-mongodb#change-data-capture-mode). Given that you configure the CDC handler for Postgres you don't need to take any special care about the deletion con

[2019-06-13 15:20] limadelrey commented on #85
Thank you for the prompt answer @hpgrahsl!

I tried to use it, but I'll give it another try.

From my understanding using this handler won't transform the event to the format I posted previously. I think that it just replicates the event saved by Debezium with the "before", "after" and several other fields.

Am I wrong?

[2019-06-13 15:27] hpgrahsl commented on #85
Actually no. By native CDC support I mean that the end result should give you the actual data only instead of replicating the full Debezium event info. That's what it was built for after all. But again please report back if anything doesn't work as expected / documented. Happy to hear from you.

[2019-06-13 15:35] hpgrahsl commented on #85
addendum: the only actual difference is that you would get a different representation for the `_id` field, like shown below:

[code]

[2019-06-13 16:07] limadelrey commented on #85
So I went through the documentation and I ended up with the following properties:

[code]

However, I'm getting a NullPointerException:

Am I using an erroneous configuration?

[2019-06-13 16:52] limadelrey commented on #85
Hey again,

It was indeed hitting the same issue that was reported earlier. I changed to the following properties and it was a successful configuration:

[code]

At this moment it is possible to sink this topic events to MongoDB by using CDC Handler Configuration, so let me thank you for your support. However, and just like you said, I'm getting documents with the embedded id:

[code]

Is there a

[2019-06-15 05:44] hpgrahsl commented on #85
@limadelrey glad to hear you got it working!  as for the flat `_id` field structure I have to say no, it's not possible. this has a reason and is based on a design decision. the thing is that:
a) `_id` field itself is special and used in MongoDB only - unknown to other data bases and thus CDC sources -> if a source database would use a primary key column named `xyz` you would loose this informatio

[2019-06-15 09:13] limadelrey commented on #85
It does makes sense. The reality is that my use case is different from the desired behaviour of using CDC mode. Thank you so much for your explanations, I'll close the issue then. Cheers!

[2019-06-15 09:13] #85 closed

[2019-06-16 21:39] hpgrahsl commented on #85
I hope this doesn't mean you won't try to leverage Kafka connect and the MongoDB sink connector since the _id structure not being a flat one actually doesn't change much. Others are doing it like this as well. And I think having a way to get proper CDC event replication towards MongoDB isn't something you can find easier and more reliable anywhere else :) thx also to the Debezium source connectors

[2019-06-19 09:25] limadelrey commented on #85
Of course not. I've finished my use case of capturing change data from a PostgreSQL database (by using Debezium PostgreSQL source connector) and replicate its content into a MongoDB database (by using your very own MongoDB sink connector). I'm very happy with the end result.

Once again, thank you so much for sharing it with the community.

[2019-06-20 12:36] hpgrahsl commented on #84
@jigs031 did you find the time to check your options with KSQL / UDFs?

a part from that it looks like Kafka Connect's SMTs also cannot really help you out there since the CAST operator doesn't support date/time related casts at the moment see here https://docs.confluent.io/current/connect/transforms/cast.html

another option and probably the easiest one given all the above is to implement a [cust

[2019-06-20 12:40] hpgrahsl commented on #81
hi again @nazr + @ryancrawcour

so after investigating this a bit further I've come to the conclusion that as a first step it would be probably the best to just encode the version id of the AVRO schema (as it is identified in the schema registry) into the document structure. based on that you can run a separate sink connector instance that streams all records from the _schema topic itself into a s

[2019-06-20 12:47] hpgrahsl commented on #50
according to user reporting back the DBZ SQL Server CDC format can be successfully processed.

[2019-06-20 12:47] #50 closed

[2019-06-21 05:21] nazr commented on #81
hi @hpgrahsl, I didn't realise there was a `_schema` topic (it seems it's `_schemas` actually), thanks for pointing that out. Yes, that should work for us

[2019-06-21 07:54] hpgrahsl commented on #81
Thx for you feedback @nazr! You may have seen there is an official [mongo-kafka](https://github.com/mongodb/mongo-kafka) connector, the sink of which is a repackaged and slightly modified version but otherwise the same. Most likely this feature will be implemented there (as well).

[2019-06-23 01:00] chadmott opened #87 "Sink to Cosmos using MongoDB fails when global replication enabled"
When Sinking to Azure Cosmos DB, everything works as expected when geo-redundancy is turned off.

When you turn it on (multi read, single write), I see the following error:

[code]

is there any way I can specify a shard key in this environment?

[2019-06-24 19:10] hpgrahsl commented on #87
hi @chadmott. so you seem to be one of the "cosmosdb customers" then :)
I quickly investigated this issue and from what I've seen it seems to be a flaw in the MongoDB API support by Azure CosmosDB. The problem is related to bulk writes that are used by the sink connector behind the scenes. My experiments using the mongo shell (so this is absolutely unrelated to the sink connector or the java drive

[2019-06-24 19:13] hpgrahsl commented on #84
@jigs031 any updates on this? if not I'd kindly ask you to close this issue. THX

[2019-06-24 19:14] chadmott commented on #87
Thank you for the thoughtful reply... after some trial and error, I discovered the strangest thing...

If i _manually_ create a DB in a geo-redundant account, I must specify a shard key, and I get the error.

However, If I just create the geo-redundant account, and create no DBs or Collections, and use the connector (or mongoDB console), Cosmos will provision one _without_ the previously required

[2019-06-24 19:41] hpgrahsl commented on #87
Not sure if I fully get your response. But yes it's possible to rely on "auto-create" of collections. From what I've experienced in the past however is that you will always only get default settings for such collections e.g. 1000 RUs and limited storage capacity (10GB) meaning that these collections are not partitioned and in turn don't have sharding support. Thus I would assume that the ones prov

[2019-06-27 09:56] hazarika opened #88 "Unable to connect to MongoDB using TLS"
I have a setup in which a golang  app is producing records to a Kafka cluster and kafka-connect-mongodb is acting as a the sink to a local MongoDB cluster.

The issue I am facing is I am unable to connect to MongodB once TLS is enabled.

MongoDB startup:
`mongod -v --port 27017 --dbpath /var/lib/mongodb/ --replSet rs0 --auth  --sslMode requireSSL --sslPEMKeyFile /path/to/server.pem --sslCAFile /pa

[2019-06-30 11:19] vaibhavpatil123 opened #89 "Mongo sink connector removing columns on MongoSink data change"
Config for Sink connector :

Config for source connector :

{
    "name": "src_mongo_connector1",
    "config": {
        "connector.class": "io.debezium.connector.mongodb.MongoDbConnector",
        "mongodb.password": "dbz",
        "tasks.max": "1",
        "mongodb.database": "inventory",
        "database.history.kafka.bootstrap.servers": "kafka:9092",
        "mongodb.user": "debezium",

[2019-06-30 11:20] vaibhavpatil123 commented on #89
Overall form **Src MongoDB >>>> We want to move data to Target MongoDB**
Using kafka connectors

[2019-06-30 11:49] vaibhavpatil123 commented on #89
Source Database record ::

**{
    "_id" : ObjectId("5d18a0d4084bd726535a7402"),
    "order_date" : ISODate("2016-01-16T00:00:00.000+0000"),
    "purchaser_id" : NumberLong(5555),
    "quantity" : NumberInt(121212),
    "product_id" : NumberLong(2323)
}**

If I update only **purchaser_id** filed then only purchaser_id is added in target sink database and other columns removing 👎
{
    "_id" : Obje

[2019-06-30 12:32] vaibhavpatil123 commented on #89
Sink database records should not drop document attributes

[2019-07-01 09:31] hazarika commented on #88
I figured out that we can export the KAFKA OPTS env variable. closing the issue.

[2019-07-01 09:31] #88 closed

[2019-07-01 13:15] vaibhavpatil123 opened #90 "Mongodb kafka sink connector not deleting records from target database even we delete record from source database"
Config is mention on ticket
https://github.com/hpgrahsl/kafka-connect-mongodb/issues/89

We dont want to use id generation config .
Observation in target database there is new

[2019-07-03 13:48] hpgrahsl commented on #88
@hazarika thx for your clarification on this. as always I'm happy to learn more about your use case - highly appreciated if you would be willing to share this :)

[2019-07-03 13:49] hpgrahsl commented on #87
@chadmott could you verify if what I wrote above holds true? would be interested if something was changed in this regard. also we can maybe close this issue?

[2019-07-03 13:49] #84 closed

[2019-07-03 13:57] hpgrahsl commented on #89
@vaibhavpatil123 hi there! thx for reaching out.

From what I've read above, you most likely want to get change-data-capture (CDC) behaviour from the source into the sink. In case I'm right please make use of a correct CDC configuration according to the documentation - README is your friend here :)

1) no unwrap SMT needed
2) add cdc handler configuration
3) get rid of delete on null values (not n

[2019-07-03 13:59] hpgrahsl commented on #90
see discussion in #89. we can reopen if needed.

[2019-07-03 13:59] #90 closed

[2019-07-09 15:48] mottish opened #91 "Fail to write to DB 'The $v update field is only recognized internally'"
Hi,

I'm currently testing the Sink connector and trying to Sync 2 mongoDB clusters where the source cluster is using Debezium CDC and the destination MongoDB is using your MongoDB Sink connector.

my config is:

[code]

Initially I was able to sync the clusters, however after I was trying to update a document in the source DB, I started getting the below exception.

The exception I get:

[code]

[2019-07-10 14:46] mottish commented on #91
Some more inputs, the following is the events structure with the $v in the patch :

[code]

[2019-07-10 19:53] hpgrahsl commented on #91
Hi @mottish!

Thx for reporting your issue. It seems that this is indeed a bug at least for MongoDB versions 3.6+ Obviously this field $v has been added to the oplog format and is not expected by the current implementation. When you look at the documentation of the update format in the Debezium docs https://debezium.io/docs/connectors/mongodb/#change-events-value you can see that the "$v" field is

[2019-07-11 18:03] hpgrahsl commented on #87
I'm closing this now @chadmott. But feel free to reopen if needed. Thx.

[2019-07-11 18:03] #87 closed

[2019-07-11 18:11] rajarameshyv commented on #91
Hans,
I am also stuck at this error. I am testing insert,delete and update operations and it fails for update operation.

mongos> db.demo_collA.updateOne({"_id" : "10129-2015-CMPL", "certificate_number" : 5346909},{ $set: {"business_name" : "RJ A&C CHIMNEY CORP."}})
**{ "acknowledged" : true, "matchedCount" : 1, "modifiedCount" : 1 }**
mongos> **db.demo_collA**.find({"_id" : "10129-2015-CMPL", "ce

[2019-07-11 18:18] hpgrahsl commented on #91
THX for checking this! Of course a fix is planned for the next patch release 1.3.2. Cannot tell right now when there will be an official release but as soon as there is a fix on master I'll let you know :) Ideally someone from the community steps up and sends a PR - would you like to?

[2019-07-11 18:28] rajarameshyv commented on #91
Thanks, Hans for a reply. I wish I have a java skill already to fix this issue. I am an operational guy with little coding knowledge :).
**Quick question**: I know MongoDB officially announced Kafka connector which is developed on top of your code. Do you think even that connector also will have the same issue?

[2019-07-11 18:32] hpgrahsl commented on #91
I'm pretty sure the official connector is also affected. AFAIK there were no considerable functional changes for the sink side - at least none that I'm aware of. Additionally, the bug is related to processing events coming from another 3rd party project, namely Debezium so I think it would currently not have a very high priority. What I'll do however is provide the fix in the official repo as well

[2019-07-11 18:43] rajarameshyv commented on #91
Thanks, Hans. Appreciate it.

[2019-07-11 18:55] hpgrahsl commented on #91
I already looked into it. The fix itself is a trivial one for this very issue. But it will still take me a bit to adapt unit tests, documentation etc. and do a hotfix release. Try to find some time at the beginning of next week.

[2019-07-12 07:51] mottish commented on #91
Hi @hpgrahsl, Thank you for looking into it quickly!
Will wait for your fix, I was looking in the code to resolve it but couldn't find yet a proper fix for it beside a workaround to drop this field using regex.
I was also trying to use Kafka connect ReplaceField to omit this field, however the "patch" value is not a json and treated as Text so it wasn't possible.

Thanks again for your great work

[2019-07-12 14:32] rajarameshyv commented on #91
Hi @hpgrahsl , I continue to do testing with large dataset 34 million records in a live test environment and I got another bulk write operation error as below.   Thought I will share with you.

2019-07-12 07:20:13,606] ERROR writing 472 document(s) into collection [oz_next_new.assets] failed -> remaining retries (3) (at.grahsl.kafka.connect.mongodb.MongoDbSinkTask:161)
[2019-07-12 07:20:13,606] ER

[2019-07-12 15:05] hpgrahsl commented on #91
@rajarameshyv thx for sharing. honestly I haven't seen this error before... never :)

[BulkWriteError{index=135, code=28, message='Cannot create field 'renditions' in element {2: null}', details={}}]

Try to find out what it even means cause from this rather cryptic error message I have no idea what exactly went wrong or why the write didn't succeed. Will keep you updated.

[2019-07-13 13:39] hpgrahsl commented on #91
@mottish @rajarameshyv good news see above :-)

[2019-07-13 13:43] #91 closed

[2019-07-14 18:22] mottish commented on #91
Thank you, it works!

[2019-07-15 18:25] rajarameshyv commented on #91
Thank you @hpgrahsl. Download from https://www.confluent.io/connector/kafka-connect-mongodb-sink/ will have this change?

[2019-07-16 18:31] hpgrahsl commented on #91
@rajarameshyv yes but in fact the download from confluent hub will only include this when the next release will be done and published there. until then you have to use the latest from build from master branch.

[2019-07-16 18:33] hpgrahsl commented on #91
@rajarameshyv ah and what about your other issue you posted above? did you find anything why this might happen? I think it would be a good idea if you extract this part and open a separate issue for this so that we don't loose track :-) THX in advance.

[2019-07-16 19:59] minormadrigal opened #93 "How to define a mongo cluster as the mongo host in kafka-connect-mongodb:1.3.1"
Hello everyone,

this is a question more than an issue. I am trying to figure out if it possible to declare a mongo cluster instead of a single host, right now we are using a custom class for this and we declare the cluster something like this:

`"db.cluster": "mongo1:27017,mongo2:27017,mongo3:27017",`

My question is, is there an option to do something like this natively with the sink connector i

[2019-07-17 13:13] sourjya123 commented on #36
Hi I have configured kafka mongo sink connector. I am publishing data with key. key =DEVICE_PROFILE and the data is json.

When I am running it showing below error
org.bson.json.JsonParseException: JSON reader was expecting a value but found 'DEVICE_PROFILE'.

In MongoDbSinkConnector.properties I have mentioned below lines.
key.converter=org.apache.kafka.connect.storage.StringConverter
key.convert

[2019-07-17 17:22] rajarameshyv commented on #91
@hpgrahsl So far search using google, looks like an issue related to updating array with NULL value with some values triggering this error. But I am not 100% sure. I am planning to reproduce this from mongo shell.

And Han, I don't find a procedure how to build jar file using master. Appreciate if you can post me a link or procedure. Sorry if this is a trouble for you.

[2019-07-17 17:47] hpgrahsl commented on #91
ok. I see. so directly in the project root you simple run
`mvn clean package`
this then builds different artefacts in the `target/` folder. what you then take is the uber-jar containing all dependencies which can be found here `target/kafka-connect-mongodb/kafka-connect-mongodb-1.3.2-SNAPSHOT-jar-with-dependencies.jar` after a successful build. this is what you can deploy to your kafka-connect ins

[2019-07-17 17:50] hpgrahsl commented on #36
@sourjya123 sorry but in case you run into the JsonParseException it's hard to believe that your key is represented by a valid JSON string. otherwise it would work. please carefully read everything above and verify your key. e.g. use the kafka-console-consumer and configure it to also print the key so that you see what it really contains for the topic you want to get processed by the sink connecto

[2019-07-17 17:52] hpgrahsl commented on #93
yes of course you can specify this by means of the connection URI settings. please read the official MongoDB docs for that which you can find here https://docs.mongodb.com/manual/reference/connection-string/#standard-connection-string-format

[2019-07-17 17:59] rajarameshyv commented on #91
Thank You @hpgrahsl. I will try this. Appreciate for sharing steps.

[2019-07-17 18:05] hpgrahsl commented on #91
You are welcome! Good luck :)

[2019-07-17 18:12] minormadrigal commented on #93
perfect, yes it works!! thank you very much!!

[2019-07-17 18:24] hpgrahsl commented on #93
glad to hear it works. as always I'd be happy to learn about your use case. if you wanna share how you are leveraging the connector I'd be happy to highlight it in the README section. just let me know.
also I want to bring to your attention that there is an officially supported connector by MongoDB which was announced in June. you can find the repo here. migration from this sink to the official sh

[2019-07-17 18:24] #93 closed

[2019-07-17 18:30] hpgrahsl commented on #89
closing this for now due to long inactivity period. reopen later if needed.

[2019-07-17 18:30] #89 closed

[2019-07-17 19:01] sourjya123 commented on #36
Hi,

Ok the scenario is I am publishing data from mqtt to the topic mcd/
10.120.134.155/DEVICE_MESSAGES

once the message is published to mqtt I can able to get the data from Kafka
using Kafka consumer. I also printed the key it is the same as mqtt topic.

Now when the data reaches to sink connector it tries to deserialize the
key. Since the key is
mcd/10.120.134.155/DEVICE_MESSAGES
It can't deser

[2019-07-17 19:14] minormadrigal commented on #93
oh I see, thank you very much mr @hpgrahsl !!!. I will take a look, because I am having some problems with the `"mongodb.field.renamer.mapping"`, so, probably it is included in that documentation.

[2019-07-17 20:04] sourjya123 commented on #36
DEBUG a.g.k.c.m.converter.SinkConverter - SinkRecord{kafkaOffset=0, timestampType=CreateTime} ConnectRecord{topic='DEVICE_PROFILE', kafkaPartition=0, key=mcd/10.120.12.134/DEVICE_PROFILE, keySchema=Schema{STRING}, value={status=off}, valueSchema=null, timestamp=1563392952346, headers=ConnectHeaders(headers=[ConnectHeader(key=kafka.mqtt.dup, value=false, schema=Schema{BOOLEAN}), ConnectHeader(key=k

[2019-07-18 01:39] rajarameshyv commented on #91
@hpgrahsl Fix for $v update field issue working. Thank You. I will create a separate issue for other errors I am getting.

[2019-07-18 06:01] sourjya123 commented on #36
Do I need to use SMT for this? I have installed confluent-hub install confluentinc/connect-transforms:latest this. It has extract-topic.properties file.

Now how to use this file and where to use it. Can you please let me know or is there any way to do the conversion before sending to mongo.

[2019-07-18 06:28] sourjya123 commented on #36
Where to configure this.

[2019-07-18 07:21] adrien-ben commented on #36
In your connector's configuration. There's an example in this thread.

[2019-07-18 12:41] yogi12121993 commented on #36
hi, @hpgrahsl
When I am publishing data to a particular topic in mosquito, at mongo sink connector I am getting that topic as key of kafka record using SMT(transforms=WrapKey). How can I extract that key(topic name) and store that into mongo along with value?

 ConnectRecord{topic='DEVICE_PROFILE', kafkaPartition=0, key=Struct{mqtt_topic=mcd/122.11.11.11/DEVICE_PROFILE}, keySchema=Schema{STRUCT},

[2019-07-19 08:15] Seljuke opened #94 "Topic<->Collection Mapping not working properly"
Hi @hpgrahsl, I was playing with your connector and needed to map 3 topics from kafka to mongodb, as you wrote in documentation I use the config below;

[code]

After applying this config through REST API, "mongodb.collection" parameter comes with "kafkatopic" value every time (log below);

[code]

I used to below Dockerfile to build my own image and user your connector with version 1.3.1;

[code]

[2019-07-19 08:27] hpgrahsl commented on #94
@Seljuke did you even try to run it and see if the collections get created based on the kafka topics and your configuration? the reason you see this in the log the `mongodb.collection = kafkatopic` entry is most likely due to the fact that you configured this to be used as fallback topic name if the connector sees a topic for which no mapping is defined. please carefully read through the docs. als

[2019-07-19 08:45] Seljuke commented on #94
Collections didn't created, but instead a new "kafkatopic" collection created. Full config at below;

[code]

[2019-07-21 14:59] mottish opened #95 "key _id can not be null exceptiopn"
Hi @hpgrahsl,

I have a new issue where the MongoDB Sink connector fails with exception "key _id can not be null".

I have a MongoDB with collections contains millions of documents and it seems that some may have NULL objectId.

Is it possible to skip them and not to fail the entire Sink connector?

My config:

[code]

The full exception the connector displays:
[code]

[2019-07-23 23:36] rajarameshyv opened #96 "Cannot create field 'external_xmp_develop_setting' in element {1: null}"
@hpgrahsl
I am getting below exception from sink.

My sink propertirs:
name=oz_next_assets_sink_01
key.converter=org.apache.kafka.connect.json.JsonConverter
key.converter.schemas.enable=false
value.converter=org.apache.kafka.connect.json.JsonConverter
value.converter.schemas.enable=false

internal.key.converter=org.apache.kafka.connect.json.JsonConverter
internal.value.converter=org.apache.kafka.c

[2019-07-25 19:18] hpgrahsl commented on #95
@mottish not sure if I completely get what you tried to describe above.
1) are you using mongodb as a source and sink?

[2019-07-25 19:59] hpgrahsl commented on #96
hi again @rajarameshyv
were you already successful in reproducing this error in a different context i.e. outside of the mongodb connector e.g. just within the mongoshell or some leveraging some other drivers doing comparable insertions?

[2019-07-29 07:45] sourjya123 opened #97 "id startegy"
Hi I have used kafkametadatastrategy for storing kafka key to mongo. But it stores topic+partitionId+offset.

Can we store the topic only instead of all this information?

[2019-07-29 11:42] hpgrahsl commented on #97
Hi @sourjya123! Short answer **NO**. Somewhat longer answer: you are referring to the ID strategy and thus the triplet is needed to ensure uniqueness based on Kafka coordinates. Topic alone wouldn't make much sense since you would only be able to insert 1 document into the collection per kafka topic.

[2019-07-29 11:42] #97 closed

[2019-07-30 05:42] victorgp opened #98 "Data loss or inconsistent if multiple operations of the same document are in the same batch"
This connector uses data unordered (https://github.com/hpgrahsl/kafka-connect-mongodb/blob/master/src/main/java/at/grahsl/kafka/connect/mongodb/MongoDbSinkTask.java#L54) for bulk operations for better performance but this will led to inconsistent results and/or data loss when combining with a batch size (`mongodb.max.batch.size` property) higher than 1.

A bulk operation with `ordered` set to fals

[2019-07-30 12:03] hpgrahsl commented on #98
@victorgp thx for reporting this. 1) it is a known issue and will be addressed in the next patch release i.e. 1.3.2 and 2) it is already fixed in the *official connector* which is the recommended alternative anyway. so take a look at this repo as well in case you haven't already.
the reason why it has been done with unorderd bulkwrites is that it started originally for insert driven workloads only

[2019-07-30 12:13] hpgrahsl commented on #98
resolved by #99 THX @victorgp!

[2019-07-30 12:13] #98 closed

[2019-07-30 15:05] victorgp commented on #98
Thanks!

I was aware of the MongoDB work but i didn't know they already released it. I will use that one

[2019-08-07 13:52] hpgrahsl commented on #94
@Seljuke it took me some time to check this myself but found the time right now :)

I tried to reproduce your issue but unfortunately I wasn't able to. Using 1.3.1 of the sink connector with the configuration you posted above worked just fine w.r.t. the topic name mappings. What's strange though is that you still get the "kafkatopic" as the default collection name. this was used in older versions

[2019-08-07 13:52] #94 closed

[2019-08-13 11:35] mostafaghadimi opened #100 "Docker image for kafka-connect-mongodb"
Is there any image on docker hub? I have search but I didn't find any image over the internet.

[2019-08-13 20:10] hpgrahsl commented on #100
hi @mostafaghadimi! short answer -> no.

somewhat longer answer: it's not really common to provide docker images with single/separate custom connectors pre-installed. instead you typically use docker images for kafka-connect (e.g. like the ones provided by confluent https://hub.docker.com/u/confluentinc/ ) and mount a pre-built connector into the respective installation folder of the container via

[2019-08-13 20:10] #100 closed

[2019-08-14 09:59] sourjya123 opened #101 "remove \u0000\u0000\u0000\u0000\u0001\u001"
Hi,
I am posting data from emq. From emq  it will go to kafka and from kafka to mongo db.
Emq is subscribing to the topic +/+/DEVICE_PROFILE.

eg,
mosquitto_pub -h localhost -p 1883 -t mcd/11.22.33.44/DEVICE_PROFILE -q 2 -m "99999,2.10#"

Now emq topic becomes the key of the Kafka record(mcd/11.22.33.44/DEVICE_PROFILE).
Now I can see kafka key becomes the id of the mongo. But some extra character

[2019-08-14 18:35] hpgrahsl commented on #101
@sourjya123 obviously this doesn't look right...

without knowing anything about your source of records i.e. the emq publisher/producer I would assume there is some weird thing going on w.r.t. any kind of binary encoding that might be involved here. can you maybe verify what you get from just using the `kafka-console-consumer` to read from the very same kafka topic? ah, and don't forget to include

[2019-08-14 19:51] hpgrahsl commented on #95
@mottish since I haven't heard back so far I assume you found a way to mitigate your problem described above. will close this for now. feel free to re-open if necessary.

[2019-08-14 19:51] #95 closed

[2019-08-14 19:51] hpgrahsl commented on #96
@rajarameshyv any news on this?

[2019-08-15 20:54] zbrsy opened #102 "How to sink JSON objects in a JSON array as individual records in a collection"
I would like to sink elements of a given JSON Array into Mongo as individual records. For example given the following array:

[ { "name" : "john",  "age" : 20 }, { "name" : "jane", "age" : 22 } ]

each object should be one record in the given collection. I am getting the following error. One option is to read from one topic and write into another one breaking array into individual objects, but I w

[2019-08-15 21:16] sourjya123 commented on #101
Hi
I am able to delete the binary encoding by editing your code little bit. Can you tell me one thing which class has been used to store the data and id.

I have used
mongodb.writemodel.strategy=at.sourjya.kafka.connect.mongodb.writemodel.strategy.UpdateOneTimestampsStrategy

Now I want to update the data little bit before sending to mongo. Please let me know the class name and the logic to store

[2019-08-15 21:19] sourjya123 commented on #101
Ok about binary encoding I have checked the kafka consumer by subscribing with the same topic. I can't find any malicious id and data. But when its going to mongo I can find the binary encoding of start text,back slash and all. SO I have cloned your code and changed it little bit by removing those malicious charecters

[2019-08-16 12:18] hpgrahsl commented on #101
There is something wrong if you need to change the code in this regard. Nobody ever needed to do that, provided that the serialization of the data is correct at the producer-side and configured properly for the connector.

In case you want to apply changes you have two options:
1) either rely on in-flight transformations using SMT configuration for the connector
2) use one of the available post-pr

[2019-08-16 12:20] hpgrahsl commented on #101
I'd suggest you try to find out where this "extra" data comes from. I cannot comment on emq-kafka-connector since I've never used it before. make sure that it uses the same serialization (string, json, avro) that you expect based on configuration you use for my sink connector. again it's not recommended at all to fiddle around in the code base and make adaptions in this regard.

[2019-08-16 12:41] hpgrahsl commented on #102
hi @zbrsy great to hear you are trying the sink connector. two important aspects w.r.t. the issue you posted:

1) for several reasons, the sink connector has been designed to work with JSON objects for keys and values. this means the value of a kafka records is expected to be represented as a JSON object instead of a JSON array. what's possible is of course to work with a value that only uses a si

[2019-08-16 15:03] zbrsy commented on #102
@hpgrahsl Thanks for the reply. It all make sense. Second option is the path I was planning take but first I wanted to check if I missed anything. Again thanks for clarifications and the reply.

[2019-08-16 15:03] #102 closed

[2019-08-16 16:22] hpgrahsl commented on #102
Glad to hear that my reply was helpful. Feel free to reach out anytime you need something. Also it might be wise to checkout the official MongoDB connector which became available several weeks ago. Find the repo here: https://github.com/mongodb/mongo-kafka also the migration is pretty smooth since the sink connector is fully based on this code-base :)

[2019-08-17 11:32] mostafaghadimi commented on #100
Hi @hpgrahsl, I have tried [https://github.com/mongodb/mongo-kafka](kafka) and I saw your name as the main contributor. Whenever I have run the docker-compose file of the official site I face with the following error:

[code]

I have nothing to do and don't know how to fix this problem. Can you help me. please?

Thanks

[2019-08-17 19:53] rajarameshyv commented on #96
@hpgrahsl No fix found yet. I am getting the same error on different fields of the document. Examples below.  My current challenge is I am not able to find the actual source document that causing this issue. As I am new to Kafka, I am not able to dump full document to logfile along with error. Logfile contains only exception error but not the mongo document it is failing on. Appreciate, if you kno

[2019-08-24 17:52] hpgrahsl commented on #96
@rajarameshyv I think it should help a lot already to run kafka connect with debug log level. then it shows you a lot more information in the logs, e.g. the full sink record. hopefully it becomes clear then what really causes this strange issue.

[2019-08-29 20:16] botbiz commented on #84
Hi @hpgrahsl, Im facing the same thing @jigs031 faced, but in my case there's two main differences, the first is that i want to cast `io.debezium.time.Date` and `io.debezium.time.Timestamp` types to `ISODate` type. And the second is that my source is CDC from SQLServer made by Debezium. There's a possible way to do it? The easiest way is really doing a custom PostProcessor?

[2019-08-31 09:27] mostafaghadimi opened #104 "How to test connection between kafka and mongodb"
Hi Hans-Peter,

I'm trying to test the docker-env.yml file in the `kafka-connect-mongodb/src/test/resources/docker ` directory. It runs without any error. The question is how to send data using kafka and write it on mongodb collection?

The second thing is that the jar files address in `kafka-connect-container` aren't uploaded on the server. because of the address: ` ../../../../target/kafka-conne

[2019-09-01 12:20] hpgrahsl commented on #104
hi @mostafaghadimi nice to hear you want to give this project a spin :)

the main reason for the docker compose file your are referring to is to provide an environment for very a simple E2E test run during the build.

1) if you run `docker-compose -f compose-env.yaml up` and everything starts up without issues you should be able to connect to kafka using `localhost:9092` with any producer of your

[2019-09-01 13:01] mostafaghadimi commented on #104
Hi,

I mean jar file isn't located on the github repository. As you have told, it should be mounted into kafka-connect docker container, but there isn't any file to be mounted! :)  cause I don't know how to build the project using maven. Would you please guide me how to run the project using maven to download the jar files or would you upload the jar files manually?

Thanks,
Mostafa

[2019-09-01 13:07] hpgrahsl commented on #104
Oh I see :)

1) You can build with maven simply by running from `mvn clean package` in the root folder of the project (where the `pom.xml` is located). This should download a bunch of dependencies when you run it first and result in the `target/kafka-connect-monogdb` folder with the jar you need.

2) If for whatever reason you cannot build locally you can get a pre-build artefact in version 1.3.1

[2019-09-01 13:12] mostafaghadimi commented on #104
Thank you Hans-Peter,

The only question remained is the following:

I have produced some data using kafka producer but they didn't save on mongodb collection. I need a sample to do so. Would you explain the steps?

[2019-09-01 17:47] hpgrahsl commented on #104
Not sure what you exactly mean by that. If you have successfully produced data to a kafka topic you need to run the sink connector simply by sending an HTTP POST request which contains your sink connector configuration of choice to the kafka-connect process. That's it.

You can find e.g. the configuration file for the E2E test (which is essentially only a 1:1 pass-through of the AVRO data that was

[2019-09-02 07:23] mostafaghadimi commented on #104
Yes I have created kafka topic, the question is exactly I don't know _what_ and _how_ to put data in POST request. Would you please send a sample to check whether it works or not?

I think it's my last question. Thank you for your warm support! :)

[2019-09-04 08:04] mostafaghadimi commented on #104
Hi @hpgrahsl

I'm looking forward to hearing anything helpful from you. If you could help me, I would be very thankful. I have spend a lot of time resolving these issues and I don't know where to ask my questions except here and from you.

Thanks,
Mostafa

[2019-09-05 20:01] hpgrahsl commented on #104
@mostafaghadimi From what I've seen you are using the wrong URL for you POST request against the Kafka Connect REST API.

https://docs.confluent.io/current/connect/references/restapi.html#post--connectors

I think it might be very valuable for you to spend some time reading the Kafka Connect documentation. The Link above only discusses the REST API but there is plenty of more interesting stuff to

[2019-09-10 23:00] rajarameshyv commented on #96
@hpgrahsl Your debug suggestion helped to find problem documents on the target where connector writing. This is what I found.

Somehow on target for some documents, I feel connector inserting 'null' value in some scenarios. Please see attached files. I am attaching an original document from source, document after the connector copied over to target and BulkWrite command with updates. If you wanted

[2019-09-10 23:19] rajarameshyv commented on #96
@hpgrahsl And one more thing I notice is, before 'initsync' complete, I see connector trying to update documents may be from oplog. I am not sure this is expected behavior. My expectation is connector first completes all initsync step to target mongodb and then will start reading from oplog and runs INSERT, DELETE and UPDATE.

Why I am saying this? Please take a look at couple of lines from my DEB

[2019-09-11 08:22] mostafaghadimi commented on #104
Hi @hpgrahsl

I have read the documentation carefully and the problem isn't solved. So I decided to implement the sink connection in a different manner. Now it works perfect.

Thanks for your attention,
Mostafa

[2019-09-11 08:23] #104 closed

[2019-09-11 17:48] hpgrahsl commented on #104
Thx @mostafaghadimi for your reply and closing. I'd really like the learn what you did in order to solve your problem. If it's an alternative approach to get your data into mongodb I'd be interested as well. If it's only due to a problem with your docker environment or the wrong REST API usage it would be a pity if you moved away from this approach ... anyway glad to hear you got it working someho

[2019-09-12 02:17] zbrsy opened #105 "converting string dates or epochs into ISODate"
Hi,

How do I have the following fields converted into ISODate when inserted into mongo?

`
{ "timestamp" : "2018-10-01T17:17:04.117+0000" }
{ "timestamp" : 1537375035222 }
`

We do not use AVRO format but plain JSON.

I think one solution is to use $setOnInsert defined in mongo. But I would like to solve this using only kafka-connect if possible.

Thanks!

[2019-09-12 06:26] lazaromedina commented on #105
Hi, maybe I can help you,
if data is plain Json you will get a mongodb document with a timestamp key as String.
Try using Json with explicit Schema in Kafka, something like this:
[code]
check link: [Kafka Connect Deep Dive – Converters and Serialization Explained](https://www.confluent.io/blog/kafka-connect-deep-dive-converters-serialization-explained)

[2019-09-13 09:20] mostafaghadimi commented on #104
Hi @hpgrahsl

Sure, I have created [a repository](https://github.com/mostafaghadimi/dockerized-kafka-mongodb-connector) and I have explained what to do in the `README.md` file.

Is there any similar way to connect kafka to redis?

Thanks,
Mostafa

[2019-10-01 15:27] rajarameshyv commented on #96
@hpgrahsl Just checking if you were able to reproduce the error.

[2019-10-01 19:16] hpgrahsl commented on #96
hi @rajarameshyv. unfortunately I didn't find the time to dive into this yet. drowing in work these days... but thx for providing all the detailed info about the issue including debug logs etc.

[2019-10-03 13:03] mottish opened #106 "CDC and ReplaceOneBusinessKeyStrategy"
Hi @hpgrahsl,

Firstly, thank you for all the support and effort you put in this great connector!

I have a question / issue with MongoDB Sink and Debezium MongoDB CDC.
My source data is coming from MongoDB using Debezium CDC connector and I'm using your connector to write the data back to a different MongoDB RS.
The issue is that one of collection has Index with unique ID based on Business key na

[2019-10-08 18:44] hpgrahsl commented on #106
Hi @mottish - short answer no this isn't possible at the moment, let me briefly explain why:

1) when you leverage the CDC mode it's typically because you want to react to the semantics of the CDC records, i.e. perform upserts or deletions accordingly. so this means depending on the actual CDC record there is one specific of the possible CDC write models already in place, which performs its operat

[2019-10-09 16:17] opistara opened #107 "hpgrahsl kafka-connect-mongodb and geojson data"
Hello Hans-Peter,
I'm using your kafka-connect-mongodb v 1.3.1, with Kafka 0.10.1 and schema registry (confluent) ver 3.1

I also use Nifi 1.5.0 to ingest data and publish it in Kafka topic by publishKafkaRcord processor.

Now if i ingest, a flat, csv file associated to a simple avro schema, everything is ok.
Infact i ingest CSV data, procces single record, publish on Kafka topic, and then mongodb

[2019-10-18 06:46] hpgrahsl commented on #107
@opistara thx for reaching out. glad to hear you like this project and find it useful!

Based on your detailed issue description including logs it looks very much that the actual problem is indeed related to a multi-level nesting of arrays. I will further investigate to be sure and report back. Cannot promise when there will be a fix for this but it shouldn't take too long.

[2019-10-18 06:59] hpgrahsl commented on #106
Hi @mottish

I'm not sure if I get you correctly. So ordering guarantees are only there in case you provide a proper key for each record so that they land in the same topic partition. If you mean that key used to produce records to the kafka topics is e.g. the object id in _id and you want to have ordering based on some other unique payload field then it simply won't work like that.

IMHO the only

[2019-10-20 11:28] mottish commented on #106
I'll try to explain my issue beter. assuming I have one collection named "myCol" and it is being produced to Kafka using Debezium MongoDB connector with JSON schema.
Each document has it own "_id" and a business key named "myId" where "myId" is uniqueu.

I consume the Debezium messages from Kafka to a different MongoDB RS using @hpgrahsl MongoDB Sink connector.

If a DELETE document operation is s

[2019-10-21 13:08] DwijadasDey opened #108 "Error while starting sink connector"
Hi
     I am facing an issue while trying to start a worker/connector(sink). Attaching the startup log as an attachment. I have configured the connector like following:

1. Downloaded the zip file and after extraction copied all the JARS from lib folder in `plugin.path=/u01/cnfkc/confluent-kfk/share/java/kafka-connect-mongodb`
2. The above plugin path is added to the CLASSPATH env variable.
3. The

[2019-10-24 17:33] hpgrahsl commented on #106
hi @mottish yes then I understood you correctly and my answer above is the way to go. try to make sure that by means of a proper SMT your records are written to the kafka topic with the business key "myId". if an existing SMT doesn't work you can write a custom one which might be needed for your use case. I'll close this issue since the actions to be taken are outside of the control of the sink co

[2019-10-24 17:33] #106 closed

[2019-10-24 17:35] #101 closed

[2019-10-24 17:54] hpgrahsl commented on #108
hi @DwijadasDey It's a bit tough to exactly pin point the problem you are facing given the above information...

1) as for the plugin-path this is typically the "main entry" folder where you want the classpath scanning for connector implementations to happen

2) the idea is also to keep every connector inside a separate sub-folder in order to allow for classpath isolation during bootstrap face of

[2019-10-24 18:12] mottish commented on #106
Appreciate your help! than you.

[2019-10-24 19:12] hpgrahsl commented on #106
you are welcome. good luck with your efforts!

[2019-10-29 11:59] DwijadasDey commented on #108
Hi
@hpgrahsl I had to configure the connector in the rest of the nodes in the cluster to remove the error messages. Earlier i tried to run the connector by configuring the connector in a single node. Although, I am not sure whether this is the reason for the offending error messages or not.

Earlier even though there were error messages in the startup but the node was able to initialized with othe

[2019-10-29 19:53] hpgrahsl commented on #108
@DwijadasDey THX for reporting back! So from your answer I conclude that you solved your problem which was that you only installed the sink connector on one of several nodes of your distributed connect deployment. If I'm right I'll close this issue. If not feel free to reopen anytime.

[2019-10-29 19:53] #108 closed

[2019-11-03 14:55] mottish commented on #106
Hi @hpgrahsl, unfortunately I'm still stuck with this issue.
I've tried your proposed solution of using SMT ValueToKey but since I'm using Debezium as source connector to send source MongoDB CDC to Kafka, I need to first use `io.debezium.connector.mongodb.transforms.UnwrapFromMongoDbEnvelope` SMT converter in order to read the message.
doing so eventually does use my Key to send messages to Kafka

[2019-11-05 08:38] mottish commented on #106
I would like to update my issue, I believe it will be of interest by others as well.
I thought of writing our own SMT which will change the Key without breaking Debezium schema and without using the UnwrapFromMongoDbEnvelope SMT.
This will work for all operations besides "delete" which has only the document _id key and doesn't have the "after" field where we can find our own field for Key (externa

[2019-11-05 19:57] hpgrahsl commented on #106
hi @mottish

you are right that the DBZ MongoDB source connector is a special case concerning `delete` operations. other DBZ source connectors expose a `before` field for delete operations which you could leverage to extract your other `id` field but here it's not possible unfortunately.

the way to go in this case is to write a kafkastreams app in which you maintain a mapping between  the `_id` a

[2019-11-05 22:27] gunnarmorling commented on #106
Hi, Gunnar here from the Debezium team. Indeed I think that you are a bit out of luck when it comes to deletes, which currently don't have any payload information. So you wouldn't have a way to send the change events for them using your business key. The one solution that would work is if you were to use your business key as the actual primary key in the MongoDB source collection. If you can't cha

[2019-11-06 08:05] gunnarmorling commented on #106
Ah, I forgot to comment on @hpgrahsl's KStreams suggestion. Unfortunately, I don't think it'll be a fully satisfying answer.

We blogged about a very [similar use case](https://debezium.io/blog/2019/10/08/handling-unchanged-postgres-toast-values/#stateful_stream_processing) recently over on the Debezium blog. It's using a statestore which allows you to amend incoming partial change events with the

[2019-11-06 08:07] gunnarmorling commented on #106
Taking the state store idea further, what might work is if you indeed have your custom SMT which in case of a delete obtains the full document state from that state store. That way you could emit the change events with the right key from the beginning. Ordering of events would be as per the ordering of TX in the oplog.

[2019-11-06 10:40] mottish commented on #106
Hi @hpgrahsl,

@gunnarmorling answered the question about the ordering:

Hi @gunnarmorling and thank you for the answer.
If I understand the suggested solution written in the blogpost, kStream pipeline will read the topic DBZ is writing to and write to a new topic where my business key is the message key.
in a multi partition topic I believe the ordering can't be guarantee as DBZ use the _id as th

[2019-11-06 12:00] gunnarmorling commented on #106
Yes, exactly, the solution from the blog post won't address your ordering concern. What would work is this:

Then the messages will have the right key from the get-go and there's no risk of re-ordering. But at the price of having a statestore lookup right from within the DBZ connector (via the SMT).

[2019-11-29 07:16] yogi12121993 opened #112 "Handling of Null values for a field in Sink Record"
How do I avoid update of particular field in mongodb if latest sink document is having null value for that filed? I don't want to update fields with null values.
@hpgrahsl  Please help me with solution.

[2019-11-29 07:44] hpgrahsl commented on #112
hi @yogi12121993 could you please provide a few more details and maybe a short example of the behaviour you want to achieve in the end? just so that I better understand this "requirement"

[2019-11-29 08:50] yogi12121993 commented on #112
For example my sink record is like,
"{"c1":"xyz","d1":"abc"}"
In this if next record for same unique object id is coming as "{"c1":"xyz","d1":""}"  then old value for field d1 will be updated with null right?
So how to avoid that?

[2019-11-29 13:12] hpgrahsl commented on #107
@opistara you may try the connector based on this branch / snapshot

[2019-11-29 13:24] hpgrahsl commented on #112
ok. thx for clarifying.

1) It's important to differentiate between `null` and empty string `""` :)

2) The exact behaviour how documents are written to MongoDB is defined by chosen `WriteModelStrategy` and according to the documentation it is the `ReplaceOneDefaultStrategy`. What's still unclear to me is if you want to only suppress an update of a single field inside the document while updating e

[2019-11-29 13:24] #112 closed

[2019-11-29 13:42] #107 closed

[2019-11-29 13:43] hpgrahsl commented on #107
@opistara it's merged now. so just build the latest from master branch and give it a try.

[2019-12-02 09:18] opistara commented on #107
@hpgrahsl thanks a lot.

[2019-12-05 13:22] sourjya123 opened #115 "Log is not getting appended in File"
Hi
I am using the kafka mongo connector. When I am running the connector the log is coming on console. But I want to store that log also in a file while it is running on server. In the kafka-connect-mongodb project I have added file-appender in logback.xml file. After that also I am not able to store the log in file. Please let me know any configuration is required for that.

[2019-12-06 09:33] RAHULMJP commented on #115
Hi Hans
I am facing the same issue.

[2019-12-13 21:16] hpgrahsl commented on #107
@opistara does it work for your GeoJSON use case now with the provided fix? would be nice to know :)

[2019-12-20 07:21] hpgrahsl commented on #115
hi @sourjya123 & @RAHULMJP
the logback.xml file in the project itself is not meant to change log level for running the connector on your connect server. so no matter what you put there it won't have any effect. the way you configure connect logging is based on a different `log4j.properties` files that comes with the installation / package you use. there is a nice blog post which also shows how to

[2019-12-20 07:21] #115 closed

[2019-12-20 08:10] sourjya123 commented on #115
Thanks it is working now.
My another question is if my kafka has 3 brokers and want to send to mongo using this connector. can this connector can handle multiple messages? Or do I need to create another and handle when more traffic comes.

[2020-02-11 08:41] San13 opened #117 "Are there any configuration setting to get fullDocument Json only?"
I use mongo-kafka source connector to produce Mongo Collection to Kafka topic.  The following is the data I received in my consumer.

**Is the source connector possible to produce "fullDocument" data only to kafka topic?
Thanks**

[2020-02-11 09:20] #117 closed, assigned to nobody

[2020-02-11 09:22] San13 commented on #117
I changed in connector configuration.

[2020-02-27 11:27] lazaromedina opened #118 "Replace strategy setting BsonId"
Hi,
on version 1.3.1, is it possible to use key provided in value with writemodel replace but inserting key as Bson, not a string?

[code]

### actual behaviour:

_**event 0:**_
kafka message 0:
[code]

mongodb document is:
[code]

_**event 1:**_
kafka message 1:
[code]

mongodb document:
[code]

### desired behaviour:
_**event 0:**_
kafka message 0:
[code]

mongodb document:
[code]

_**event 1:**

[2020-02-27 18:35] hpgrahsl commented on #118
Hi @lazaromedina

thx for reaching out and clearly explaining your use case with sample messages & documents. the question for me is the following though: if the _id field in the kafka message contains always an objectid compliant 24 chars hex string, why is it not in extended json serialization using $oid see https://docs.mongodb.com/manual/reference/mongodb-extended-json-v1/#oid ? then it would

[2020-02-27 19:27] lazaromedina commented on #118
Hi @hpgrahsl,
Thanks so much for the good work and your commitment to this project.
As of now, this issue has been solved managing it as a string. However, as you have already indicated for a more future definitive solution I would have to follow the option b. By then, It will be my pleasure to make a PR.

Again, really appreciated the support.

BR
Luis

[2020-02-27 19:30] hpgrahsl commented on #118
Great to hear you got it working for your needs! If you don't mind I'd be happy if you could close this issue then ... at least for now. Feel free to re-open anytime when you start with a definitive solutions for this.

[2020-02-27 19:31] #118 closed, assigned to hpgrahsl

[2020-03-10 18:43] rajarameshyv commented on #96
@hpgrahsl I recently tested Kafka-MongoDB connector version 1.0 and I don't see this issue anymore. I am curious how this is fixed. Appreciate if you can share fix that rolled into to address this issue if you can. Thank You.

[2020-03-10 20:30] hpgrahsl commented on #96
@rajarameshyv thx for getting back to this. are you sure that the only thing that changed is the connector version and everything else in your pipeline is the same including the data itself? so:
1) the same mongodb source database version
2) holding the same data
3) the same Debezium MongoDB source connector version
4) same kafka topic settings + partition count
5) ONLY change: instead my communit

[2020-03-11 20:10] hpgrahsl opened #119 "support new compound shard key handling of Debezium Source Connector"
When processing CDC events coming from Debezium's Source Connector for MongoDB there was a recent update which affects the handling how to encode the shard key of sharded collections in the payload. The corresponding PR was merged by now https://issues.redhat.com/browse/DBZ-1781.
Implement support for this in the sink connector according to the documentation which can be found in the DBZ docs.

[2020-03-19 16:43] srolija opened #120 "Version 1.4.0 on Confluent Hub"
It seems that the latest version was only released to [Maven](https://mvnrepository.com/artifact/at.grahsl.kafka.connect/kafka-connect-mongodb) is there any reason it was not released on the [Confluent Hub](https://www.confluent.io/hub/hpgrahsl/kafka-connect-mongodb) as well?

Thanks for the great library!

[2020-03-20 08:42] krishkir commented on #5
It is working for me .Many thanks Soumabrata.

[2020-03-20 14:02] hpgrahsl commented on #120
Hi @srolija THX for reaching out and your kind words!

It's a bit unfortunate that so far version 1.4.0 was never published to the HUB. I'm already in touch with the folks from Confluent and it should be released at the HUB rather soon. Will keep you posted!

As always I'm happy to learn about your use case for the sink connector. So maybe you can share what you are doing with it in your projects.

[2020-03-21 09:44] hpgrahsl commented on #120
and v1.4.0 is published to the HUB as well. so grab it from there anytime you need it :)
https://www.confluent.io/hub/hpgrahsl/kafka-connect-mongodb

[2020-03-21 09:44] #120 closed, assigned to hpgrahsl

[2020-03-23 03:20] San13 opened #121 "Avro schema "TopicNameStrategy" error"
I am trying to save KStream Kafka topic to mongodb sink connector.
Below is my configuration

[code]

**I have this avro value -- (data is from avro console consumer)**

`{"endPoint":"test1","createdDate":1584617333519,"companyName":"test","productName":"Brainy Bin","path":"/3303/0/5700","timestamp":1584617233036,"AvroResponsePayload":{"code":"CONTENT","kind":"observe","body":{"io.teamone.leshan.a

[2020-03-24 14:27] srolija commented on #120
Great, thanks a lot! :)

We are trying to get it running in combination with https://github.com/blueapron/kafka-connect-protobuf-converter to get quick and dirty solution for logging of proto messages for some debugging queries.

[2020-03-25 04:39] syalinbas opened #122 "Removed records are put back again immediately."
I have a connector that upserts records into the collection. However if I delete records connector inserts those deleted records immediately. I tried couple of times removing records and this behavior is consistent. Is it how it supposed to work? I am sure that there's no new messages coming into the topic since I manually feed them. I do not do any restarts either. I just delete records from coll

[2020-03-26 13:39] hpgrahsl commented on #122
Hi @zbrsy,

I assume by "deleting records" you mean you delete them in the sink i.e. the mongodb target collection... and then you say it gets re-inserted by the connector right away, without new writes into the kafka source topic?

If what you describe is indeed happening I would be very surprised to say the least :) In fact, I currently cannot think of any way how this could work if I wanted to

[2020-03-26 13:46] hpgrahsl commented on #121
hi @San13

thanks for your issue report which in fact doesn't seem to be related to the sink connector itself. you can see from the stacktrace you posted that you don't even reach any code from the sink connector packages.

The issue is related to the avro de/serialization and the schema registry itself which happens before the connector even gets to see the sink records. Maybe what you face is si

[2020-03-26 13:46] #121 closed, assigned to hpgrahsl

[2020-03-26 14:26] syalinbas commented on #122
Hi Hans,
Thanks for the reply. I know it is extremely weird and I was very hesitant to report it. I was trying to understand KSQLDB's behavior and making a lot of stop/start. However this did not happen between those starts/stops. I said happened because I could not duplicate this next day but I have deleted records from MongoDB and total count of documents came back to 1288 always. I deleted them

[2020-03-26 19:39] hpgrahsl commented on #122
The offer is still there to help you further investigate this weird behaviour you reported. I also happen to know a thing or two about ksqlDB as well :)

[2020-03-27 05:51] cordoba commented on #122
Thanks for the offer. Let me try to duplicate it first, if I can, and then I will definitely let you know.

[2020-03-27 05:53] syalinbas commented on #122
Thanks for the offer. Let me try to duplicate it first, if I can, and then I will definitely let you know.

[2020-03-27 05:53] #122 closed, assigned to hpgrahsl

[2020-04-21 15:27] rajarameshyv commented on #96
@hpgrahsl you are right. I hit this issue now. Earlier I was testing with test data where I didn't see the issue with sink 1.0. But with production traffic, I am hitting the same java.lang.NullPointerException issue. I am not sure why?

I am using source and sink DB versions as 3.6.8.
And I saw one note on your git README saying "! IMPORTANT NOTE ! This WriteModelStrategy needs MongoDB version 4.2

[2020-05-07 01:48] linxar109 commented on #102
I have the same issue as zbrsy.

Are you sure Kafka will not implement JSON arrays in mongo connector sink?

How can I implement stream processor as you mentioned.

Thanks a lot.

[2020-05-13 09:01] kristofferth opened #123 "where is the jar?"
i cant find it

[2020-05-16 08:26] hpgrahsl commented on #123
you have 2 options:

1.  either get it via maven  https://search.maven.org/artifact/at.grahsl.kafka.connect/kafka-connect-mongodb/1.4.0/jar

2. or from confluent hub https://www.confluent.io/hub/hpgrahsl/kafka-connect-mongodb

also feel free to build it from sources if you don't like these options.

[2020-05-16 08:26] #123 closed, assigned to hpgrahsl

[2020-08-26 12:08] kush1509 opened #124 "Use two WriteModel Strategies in one config?"
Hi,

I wanted to ask if it is possible to use two WriteModel Strategies in one config. My use-case is that I need to use the `ReplaceOneBusinessKeyStrategy` to check for my business key and I want to add timestamps as well so I need the `UpdateOneTimestampsStrategy`. I am not entirely sure if my understanding of these is correct, but I would like to understand why (if so) we cannot chain such stra

[2020-09-01 20:34] hpgrahsl commented on #124
Hi,

Thx for reaching out. The original design to allow for only one WriteModelStrategy has been decided on purpose since in general combining/chaining several such strategies often doesn't make sense. But you are right, that for the case you describe it would be reasonable to have both these strategies applied when writing to the DB. That being said, the idea here for now is to implement your own

[2020-09-04 08:06] hpgrahsl commented on #124
@kush1509 wanted to check back if my reply was in any way helpful for you? just let me know if there is anything unclear. I'm happy to answer :)

[2020-09-04 08:19] kush1509 commented on #124
@hpgrahsl yes thanks for the answer. I did find a strategy that fit my purpose - `UpdateOneBusinessKeyTimestampStrategy` that does the two things but you're right, I can also write a custom strategy for more complicated use cases. Thanks!

[2020-09-08 17:02] hpgrahsl commented on #124
THX @kush1509 for reporting back. Glad to hear your found a combined strategy serving your needs. I'm closing this then.

[2020-09-08 17:02] #124 closed, assigned to hpgrahsl

[2020-10-02 16:33] Susheer commented on #36
this worked for me. Thanks

[2020-10-19 20:18] rodolfocugler opened #125 "Cannot convert Record to BSON"
## Problem
I am trying to export my topic values to a MongoDB. However, I'm getting an exception. I guess I made a wrong configuration, but I spent much time on that and still not find it.

Can you please help me to find what I missed here?

Thanks

## Scenario
There is one Kafka topic which has raw Json values:

[code]

The current mongodb-sink config is this one:
[code]

## Stacktrace
[2020-10-1

[2020-10-29 20:46] hpgrahsl commented on #125
Thanks for reaching out. Your problem is most likely related to the fact that your key contains data which isn't valid JSON. The connector expects the key to be parseable into a BSONDocument based on a valid JSON string. If you cannot change that upstream (i.e. the consumer writing to the topic) or need to process existing data it can be achieved with a properly configured SMT (Single Message Tran

[2021-01-01 12:18] hpgrahsl commented on #125
closing this due to inactivity / no answer. feel free to re-open if applicable :)

[2021-01-01 12:18] #125 closed, assigned to hpgrahsl

[2021-06-08 06:14] vinaymurari opened #128 "Issue with MongoDB sink connector, Records inserted to MongoDB are in the form of CDC structure instead of a mongo document structure"
Hi,

I am using confluent kafka connect to capture CDC from MS SQL(source) to MongoDB(sink).
This is the source connecetor used for MS SQL debezium-debezium-connector-sqlserver-1.5.0.
PFB source connector config.

 "config":{
    "connector.class": "io.debezium.connector.sqlserver.SqlServerConnector",
    "key.converter":"org.apache.kafka.connect.json.JsonConverter",
    "value.converter":"org.apa

[2021-06-08 09:53] #128 closed, assigned to nobody

[2021-06-08 09:54] vinaymurari commented on #128
Looks like a config issue , we will comeback with more info.

[2021-09-16 06:43] IqraSami commented on #82
@hpgrahsl hey! I am facing the same error while connecting Kafka with MongoDB

This is my Mongo Sink Connector:
[code]
and the Error which this is throwing now is:

[code]

Perviously it was working, but now it has been stopped and not working. Can you explain what are causing this error and how can I remove this?

[2021-10-01 10:17] HyunsangHan opened #129 "Is there "update"(NOT "replace") as operation type of the result from MongoSinkConnector?"
@hpgrahsl

I am doing sink from Postgres to MongoDB by MongoSinkConnector with Kafka. (`Postgres` --> `Kafka` --> `MongoDB`)
I can check there is `u`(= update) in `op`(= operationType) when I consume Kafka messages produced by Postgres from `update` operation.

However, all the operation types from updating Postgres's records are not `update` but `replace` in op log of MongoDB.
Is `replace` defaul

[2021-10-01 12:22] hpgrahsl commented on #129
Hi @HyunSangHan!

thanks for reaching out. So you are right that the MongoDB SinkConnector is implemented such that it applies a replace operation on the document that was matched. This is by design, and allows to employ an upsert semantic for both insert and update operations that it processes from the kafka topic. Also a CDC message from kafka always results in updating the full document on Mong

[2021-10-01 15:47] HyunsangHan commented on #129
@hpgrahsl

I'm so glad to get your quick reply!! Thank you :)

I am planning to make more pipeline after consuming the message.
Let me explain as below.

I told you "`Postgres` --> `Kafka` --> `MongoDB`", that exactly means
[code]

but there was a part that has been omitted. My whole plan is:
[code]

As a result, I will use changes of documents to produce Kafka messages again by `Mongo change stre

[2021-10-01 18:19] hpgrahsl commented on #129
Ok I see. Well the short answer is no, not out-of-the-box based on the current version. However, many functionalities of the sink connector implementation have been written with customizability in mind. That said, you could come up with your own individual write model behaviour by implementing the corresponding interfaces and / or extending existing classes with your custom ones where you override

[2021-10-02 02:30] HyunsangHan commented on #129
@hpgrahsl
It is a good question! I think that my explanation was not enough.

There are a few reasons:
1. First of all, I need to sink the data anyway from Postgres to MongoDB to reuse them next time from MongoDB. (So I cannot skip this sink process.)
2. If I directly source the data from the original Kafka topic, I couldn't guarantee if those data also saved to MongoDB successfully, because it se

[2021-10-08 08:14] HyunsangHan opened #130 "Can I customize Kafka topic from MongoSourceConnector?"
@hpgrahsl
Hi! again. :)

I want to send Kafka messages to one topic from several MongoSourceConnectors.
That is, what I want: (`MongoSourceConnector : Kafka topic = N : 1`)

However, I know that Kafka messages from MongoSourceConnector are created automatically like `{prefix}.{dbName}.{collectionName}`, so it seems to be `MongoSourceConnector : Kafka topic = 1 : 1` relation.

(ref: https://docs.mo

[2021-10-08 16:23] HyunsangHan commented on #130
I will close this issue, because I finally resolved it.

[2021-10-08 16:23] #130 closed, assigned to nobody

[2022-02-16 14:06] pedefalco opened #131 "Error with shard mongoDB"
Hi,
we  use your connector to send data to a MongoDB. Initially the mongo was installed in ReplicaSet mode on a cluster with 3 node, now it has been changed to **Shard mode**. After this change we receive the following error

_Failed to target upsert by query :: could not extract exact shard key_

this is an example of our connector

[code]
the shardkey is composed of 3 different values, how can w

[2022-03-09 07:51] hunghoang-ct opened #132 "Error: `operationType` field is doc is missing"
Source connector configuration
[code]

Sink connector configuration
[code]

`Caused by: org.apache.kafka.connect.errors.DataException: Error: `operationType` field is doc is missing.`

[2022-06-08 20:41] bilalesi commented on #124
`UpdateOneBusinessKeyTimestampStrategy` do not do upsert, do we have an alternative in this moment ?

[2022-10-17 17:46] moaazabir opened #135 "Post Processor Chain not working"
Hello @hpgrahsl,

I was trying kafka-connect-mongodb with post processor chain and below is the configuration I have used

[code]
even though I have used both BlacklistKeyProjector and BlacklistValueProjector, I am still getting first_name in mongodb. I have even tried renamer but it also has no effect. Is there something I am missing out?

[2022-10-18 19:56] hpgrahsl commented on #135
Hi @moaazabir,

thanks for reaching out and the interest to use the mongodb sink connector. From what I can see in your configuration you are running the connector in CDC mode `"mongodb.change.data.capture.handler": "at.grahsl.kafka.connect.mongodb.cdc.debezium.rdbms.RdbmsHandler"`. With this configuration option, it's not supported to define and apply a post processor chain because CDC events are

[2022-10-22 19:22] moaazabir commented on #135
Hello @hpgrahsl,

Thanks for the information . It really helped me to understand the CDC connectors better. Also I got really good information from your older comments on other issues.

[2022-10-23 10:50] hpgrahsl commented on #135
You're welcome! Then I think it's fine if I'll close this for now but feel free to ask further questions in the official repo https://github.com/mongodb/mongo-kafka any time.

[2022-10-23 10:50] #135 closed, assigned to hpgrahsl

[2022-10-23 10:51] #132 closed, assigned to nobody

[2022-10-23 10:52] #129 closed, assigned to nobody

[2022-10-23 10:54] #96 closed

[2022-10-23 10:56] #81 closed

[2022-10-23 10:59] #131 closed, assigned to nobody

[2022-11-24 14:26] PauloFavero opened #138 "MongoDB Sink Connector Fails with NullPointerException"
HI,

I am trying to create a CDC pipeline with Debezium and kafka-mongo connect. This pipeline goal is to replicate data between 2 MongoDB databases(The real use case case is synchronization between multiple databases to a single one) .

My first try was using the official MongoDB Sink Connector but it fails for update operations as I explain in this topic [topic](https://www.mongodb.com/community

[2022-11-25 20:12] hpgrahsl commented on #138
Hi. Thx for reaching out. Since it's basically the same problem I replied in the mongodb community forums (https://www.mongodb.com/community/forums/t/mongodb-kafka-sink-connector-w-debezium-cdc-handler-fails-on-update-operations/201288/2) so that hopefully more people will read it and benefit from my answer. Also, please consider this community project as discontinued since the code has been integ

[2022-11-25 20:12] #138 closed, assigned to hpgrahsl